.imageit-container{
    width:100%;
}

.imageit-upload{
    width: calc(100% - 2rem - 4px);
    padding:1rem;
    height: auto;
    min-height: 125px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background-color:rgba(73, 164, 209, 0.03);
    border: 2px dashed rgba(73, 164, 209,0.4);
    border-radius:7px;
    transition: all 0.2s ease-in;
}

.imageit-upload.active{
    background-color:rgba(73, 164, 209, 0.1);
    border: 2px dashed rgba(73, 164, 209,0.7);
}

.imageit-upload-prompt{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.imageit-upload-prompt div{
    padding: 0px;
    margin: .3rem 0px;
}

.imageit-upload-icon{
    width:3rem;
}

.imageit-browse-files{
    padding: .5rem 1.5rem;
    background-color: rgb(121, 174, 200);
    border: 1px solid rgb(73, 164, 209);
    border-radius: 2px;
    color:white;
}

/* Hidden element used as template */
#imageit-preview{
    display:none;
}

.imageit-preview{
    max-width: calc(100% - 2rem);
    margin: 1rem 0px;
    padding: 1rem;
}

.imageit-preview-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
}

.imageit-preview-text{
    padding: 0px 1rem;
}

.imageit-preview-text p{
    word-break: break-all;
}

.imageit-preview-image{
    max-width:150px;
    max-height:150px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.imageit-clear-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    /*background-color: #ff3466;*/
    color: #ff3466;
    border: 2px solid #ff3466;
    border-radius: 50%;
    cursor: pointer;
}

.imageit-text-light{
    color: #a4b7bd;
}

.imageit-inactive{
    display: none;
}

.imageit-error{
    width: 100%;
    padding: 1rem 0px;
    text-align: center;
    color: #ff3466;
}