{% load i18n admin_urls static admin_modify dropzoneit_helpers %}
<!-- Original > contrib/admin/templates/admin/edit_inline-->
<div class="dropzoneit-container" data-dzit_ctype={% with inline_admin_formset.formset.instance|dropzoneit_ctype as ctype %}{{ ctype.id }}{% endwith %} data-dzit_instance={{ inline_admin_formset.formset.instance.id }}>
    <div class="dropzoneit">
        <div class="dropzoneit-upload-prompt">
            <div><img class="dropzoneit-upload-icon" src="/static/dropzoneit/img/folder.svg"/></div>
            <div>Drag & Drop</div>
            <div class="dropzoneit-text-light"> or </div>
            <div>
                <label for="{{ inline_admin_formset.formset.prefix }}-select" class="dropzoneit-file-pseudo-selector">Browse Files</label>
                <input id="{{ inline_admin_formset.formset.prefix }}-select" type="file" class="dropzoneit-file-selector" multiple>
                {% csrf_token %}
            </div>    
        </div>
        <div class="dropzoneit-preview-container">
        </div>
    </div>
</div>
