{% extends "app/base.html" %}

{% block content %}
<div class="blog-header-container page page-padded flex-y">
    <div class="blog-header w-100 m-t-xxl m-b-xxl">
        <div class="center-content-y center-content-xy-sm">
            <div class="text-center-sm">
                <h1 class="no-m color-white">Recent blogs</h1>
            </div>
        </div>
        <div class="col-2 col-1-sm m-t-xl">
            <a href="blog.html">
                <div class="blog-highlight color-white w-100 no-p m-b-xl">
                    <h3 class="no-m">Blog 1</h3>
                    <p class="m-b-md">Subheading</p>
                    <div class="space-evenly">
                        <small><i class="fa fa-user"></i> Scott James</small>
                        <small><i class="fa fa-calendar"></i> Date</small>
                        <small><i class="fa fa-clock"></i> 4 min. read</small>
                    </div>
                </div>
                <div class="w-100 no-p m-b-xl">
                    <div>
                        <div class="input-container no-m m-b-lg">
                            <input class="input-field" type="text" placeholder="Search blogs" name="search"/>
                            <i class="fa fa-search fa-input-icon fa-input-icon-hover center-self-y"></i>
                        </div>
                        <div>
                            <p class="color-white m-b-md">Topics:</p>
                            <ul class="tag-list">
                                <a href=""><li><small class="color-white">topic 1 sdf</small></li></a>
                                <a href=""><li><small class="color-white">topic svd1 sdf</small></li></a>
                                <a href=""><li><small class="color-white">topic 1 sdf</small></li></a>
                                <a href=""><li><small class="color-white">topic v xcv1 sdf</small></li></a>
                                <a href=""><li><small class="color-white">topic 1dfvfsfvvsd sdf</small></li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="page blog-list col-3 col-2-mdlg col-1-sm m-t-xxl">
    <a class="text-muted" href="blog.html">
        <div class="blog-card flex-x">
            <div class="blog-card-img-container center-content-xy">
                <div class="blog-card-img-overlay"></div>
                <img class="blog-card-img" src="static/img/kirkron-logo.svg"/>
            </div>
            <div class="blog-card-text-container">
                <h3>Blog 1</h3>
                <p><small>Subheading Subheading Subheadingading Subheading Subheading Subheading Subheading Subheading Subheading Subheading Subheading Subheading </small></p>
                <div class="space-evenly">
                    <small><i class="fa fa-user"></i> Scott James</small>
                    <small><i class="fa fa-calendar"></i> Date</small>
                    <small><i class="fa fa-clock"></i> 4 min. read</small>
                </div>
            </div>
        </div>
    </a>
    
    <div class="blog-card flex-x">
        <div class="blog-card-img-container center-content-xy">
            <div class="blog-card-img-overlay"></div>
            <img class="blog-card-img" src="static/img/postgres-logo.svg"/>
        </div>
        <div class="blog-card-text-container">
            <h3>Blog 1</h3>
            <p>Subheading</p>
            <div class="space-evenly">
                <small><i class="fa fa-user"></i> Scott James</small>
                <small><i class="fa fa-calendar"></i> Date</small>
                <small><i class="fa fa-clock"></i> 4 min. read</small>
            </div>
        </div>
    </div>
    <div class="blog-card flex-x">
        <div class="blog-card-img-container center-content-xy">
            <div class="blog-card-img-overlay"></div>
            <img class="blog-card-img" src="static/img/postgres-logo.svg"/>
        </div>
        <div class="blog-card-text-container">
            <h3>Blog 1</h3>
            <p>Subheading</p>
            <div class="space-evenly">
                <small><i class="fa fa-user"></i> Scott James</small>
                <small><i class="fa fa-calendar"></i> Date</small>
                <small><i class="fa fa-clock"></i> 4 min. read</small>
            </div>
        </div>
    </div>
    <div class="blog-card flex-x">
        <div class="blog-card-img-container center-content-xy">
            <div class="blog-card-img-overlay"></div>
            <img class="blog-card-img" src="static/img/postgres-logo.svg"/>
        </div>
        <div class="blog-card-text-container">
            <h3>Blog 1</h3>
            <p>Subheading</p>
            <div class="space-evenly">
                <small><i class="fa fa-user"></i> Scott James</small>
                <small><i class="fa fa-calendar"></i> Date</small>
                <small><i class="fa fa-clock"></i> 4 min. read</small>
            </div>
        </div>
    </div>
    <div class="blog-card flex-x">
        <div class="blog-card-img-container center-content-xy">
            <div class="blog-card-img-overlay"></div>
            <img class="blog-card-img" src="static/img/postgres-logo.svg"/>
        </div>
        <div class="blog-card-text-container">
            <h3>Blog 1</h3>
            <p>Subheading</p>
            <div class="space-evenly">
                <small><i class="fa fa-user"></i> Scott James</small>
                <small><i class="fa fa-calendar"></i> Date</small>
                <small><i class="fa fa-clock"></i> 4 min. read</small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}