{% if blogs|length <= 0 %}
    <div class="span3 text-center">
        <h1><i class="fa fa-3x fa-sad-cry"></i></h1>
        <p>No blogs matching your search</p>
    </div>
{% else %}
    {% for blog in blogs %}
        <a class="text-muted" href="{% url 'blog-detail' blog.slug %}">
            <div class="blog-card">
                <div class="blog-card-img-container center-content-xy">
                    <div class="blog-card-img-overlay"></div>
                    <img class="blog-card-img" src="{% if blog.thumbnail %}{{ blog.thumbnail.url }}{% endif %}"/>
                </div>
                <div class="blog-card-text-container flex-y">
                    <div class="blog-card-header-container">
                        <div class="blog-card-header">
                            <small>{{ blog.author_name }}</small>
                            {% if blog.published %}
                                <small>{{ blog.published_on|date:"M. j, Y" }}  | <i class="fa fa-book-reader"></i> {{ blog.read_time }} min.</small>
                            {% else %}
                                <small>Draft. <i class="fa fa-pencil-ruler"></i></small>
                            {% endif %}
                        </div>
                        <div class="blog-card-title">
                            <h4>{{ blog.title }}</h4>
                        </div>
                    </div>
                    
                    <div class="blog-card-description">
                        <small>{{ blog.description|truncatechars:100 }} </small>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endif %}