{% extends "app/base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/blog_list.js' %}"></script>
{% endblock scripts %}

{% block content %}
<div class="blog-list-header-container page page-padded flex-y">
    <div class="blog-header w-100 m-t-xxl m-b-xxl">
        <div class="center-content-y center-content-xy-sm">
            <div class="text-center-sm">
                <h1 class="no-m color-white">Recent blogs</h1>
            </div>
        </div>
        <div class="col-2 col-1-sm m-t-xl">
            <a href="{% url 'blog-detail' blogs.0.slug %}">
                <div class="blog-highlight color-white w-100 no-p m-b-xl">
                    <h3 class="no-m">{{ blogs.0.title }}</h3>
                    <p class="m-b-md">{{ blogs.0.description|truncatechars:100 }}</p>
                    <div class="space-evenly">
                        <small><i class="fa fa-user"></i> {{ blogs.0.author_name }}</small>
                        {% if blogs.0.published %}
                            <small><i class="fa fa-calendar"></i> {{ blogs.0.published_on|date:"M. j, Y" }}</small>
                        {% else %}
                            <small><i class="fa fa-pencil-ruler"></i> Draft. updated: {{ blogs.0.updated }}</small>
                        {% endif %}
                        <small><i class="fa fa-clock"></i> {{ blogs.0.read_time }} min. read</small>
                    </div>
                </div>
            </a>
            <div class="w-100 no-p m-b-xl">
                <div>
                    <div class="input-container no-m m-b-lg">
                        <input class="input-field" type="text" placeholder="Search blogs" name="search"/>
                        <i class="fa fa-search fa-input-icon fa-input-icon-hover center-self-y"></i>
                    </div>
                    <div>
                        <p class="color-white m-b-md">Topics:</p>
                        <ul class="tag-list">
                            {% for tag in tags %}
                                <li id="tag-{{ tag.id }}" data-identifier="{{ tag.id }}"><small class="color-white">{{ tag.name }}</small></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page blog-list col-3 col-2-mdlg col-1-sm m-t-xxl" id="blog-card-list">
    {% for blog in blogs %}
        <a class="text-muted" href="{% url 'blog-detail' blog.slug %}">
            <div class="blog-card flex-x">
                <div class="blog-card-img-container center-content-xy">
                    <div class="blog-card-img-overlay"></div>
                    <img class="blog-card-img" src="{{ blog.thumbnail.url }}"/>
                </div>
                <div class="blog-card-text-container">
                    <h4>{{ blog.title }}</h4>
                    <p><small>{{ blog.description|truncatechars:100 }} </small></p>
                    <div class="space-evenly">
                        <small><i class="fa fa-user"></i> {{ blog.author_name|truncatechars:13 }}</small>
                        {% if blog.published %}
                            <small><i class="fa fa-calendar"></i> {{ blog.published_on|date:"M. j, Y" }}</small>
                        {% else %}
                            <small><i class="fa fa-pencil-ruler"></i> Draft.</small>
                        {% endif %}
                        <small><i class="fa fa-clock"></i> {{ blog.read_time }} min. read</small>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}