{% extends "app/base.html" %}
{% load static %}

{% block content %}
<div class="page p-t-xxl flex-y">
    <div class="blog-header col-2 col-1-sm w-70 w-100-sm m-t-xxl">
        <div class="blog-author center-self-x-sm align-self-end w-35">
            <div class="img-circle img-circle-container"><img class="img-circle-img" alt="image" src="static/img/profile-img.jpg" /></div>
            {% if not object.author.first_name %}
                <h5 class="m-t-lg text-center">{{ object.author }}</h5>
            {% else %}
                <h5 class="m-t-lg text-center">{{ object.author.first_name }} {{ object.author.last_name }}</h5>
            {% endif %}
        </div>
        <div class="center-content-y center-content-xy-sm">
            <div class="text-center-sm">
                <h1 class="no-m">{{ object.title }}</h1>
                <h5>{{ object.description }}</h5>
            </div>
        </div>
    </div>
    <div class="page flex-x m-t-xxl">
        {% if object.published %}
            <div><i class="fa fa-calendar"></i> {{ object.published_on }}</div>
        {% else %}
            <small><i class="fa fa-pencil-ruler"></i> Draft. updated: {{ object.updated }}</small>
        {% endif %}
        <div><i class="fa fa-eye"></i> {{ object.views }} Views</div>
        <div><i class="fa fa-clock"></i> {{ object.read_time }} min. read</div>
    </div>
    <div class="page flex-x m-t-xxl">
        <ul class="tag-list">
            {% for tag in object.tags.all %}
                <a href="{% url 'blog-list' %}?tag={{tag.name}}"><li><small class="color-white">{{ tag.name }}</small></li></a>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="blog-img w-100 m-t-xxl">
    <img class="img-full-width blog-img-frame" src="{% static 'img/blog-img-frame.svg' %}"/>
    <img class="img-full-width blog-title-img" src="{{ object.banner.url }}"/>
    <img class="img-full-width blog-img-frame-bottom" src="{% static 'img/blog-img-frame.svg' %}"/>
</div>
<div class="page m-t-xxl">
    <div class="blog-content">
        {{ object.content|safe }}
    </div>
</div>
<hr class="w-70 m-t-xxl">
{% endblock content %}