%primary-gradient{
   //background-image: linear-gradient( to top, rgba(237, 47, 139, 1), rgba(255, 207, 123, 1));
   background-image: linear-gradient( to top, rgba(237, 24, 127, 93), rgba(255, 207, 123, 1));
}

body{
   margin:0px;
   padding:0px;
   background-color:$white;
}

#wrapper{
   margin:0px;
   padding:0px;
   width:100%;
   min-height:100%;
   overflow:hidden;
}

//General page setup classes
.page{
   position:relative;
   display:flex;
   z-index:1;
   width:$page-width;
   padding-left:$page-padding;
   padding-right:$page-padding;
   align-items:center;
   justify-content:space-around;
}

.page-padded{
   padding-top:65px;
}

.full-height{
   min-height:100vh;
}

.col-2{
   display:grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(2, .5fr);

   @media (min-width: $screen-md){
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(1, 1fr);
       grid-column-gap: 13%;
   }
}

.col-3{
   display:grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(3, .3333fr);

   @media (min-width: $screen-md){
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(1, 1fr);
       grid-column-gap: 13%;
   }
}

.col-3-sm{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(1, 1fr);
   grid-column-gap: 13%;
}

.space-evenly{
   display:flex;
   justify-content:space-between;
}

.flex-y{
   flex-direction: column;
}

.flex-x{
   flex-direction: row;
}

.center-content-x{
   display:flex;
   justify-items:center;
   justify-content:center;
}

.center-content-x-sm{
   @media (max-width: $screen-md){
      display:flex;
      justify-items:center;
      justify-content:center;
  }
}

.center-content-y{
   display:flex;
   align-items:center;
}

.center-content-y-sm{
   @media (max-width: $screen-md){
      display:flex;
      align-items:center;
  }
}

.center-content-xy-sm{
   @media (max-width: $screen-md){
      display:flex;
      justify-items:center;
      justify-content:center;
      align-items:center;
  }
}

.hidden-sm{
   @media (max-width: $screen-md){
      display:none;
   }
}

.hidden-md{
   @media (max-width: $screen-mdlg){
      display:none;
   }
}

.center-content-xy{
   display:flex;
   justify-items:center;
   justify-content:center;
   align-items:center;
}

.center-self-x{
   justify-self:center;
}

.center-self-x-sm{
   @media(max-width: $screen-md){
      justify-self:center !important;
   }
}

.center-self-y{
   align-self:center;
}

.center-self-xy{
   align-self:center;
   justify-self:center;
}

.align-self-end{
   align-self:flex-end;
   justify-self:flex-end;
}

.w-25{
   width: calc(25% - (#{$col-spacing} * 2));
   padding-left:$col-spacing;
   padding-right:$col-spacing;
}

.w-35{
   width: calc(35% - (#{$col-spacing} * 2));
   padding-left:$col-spacing;
   padding-right:$col-spacing;
}

.w-50{
   width: calc(50% - (#{$col-spacing} * 2));
   padding-left:$col-spacing;
   padding-right:$col-spacing;
}

.w-70{
   width: calc(70% - (#{$col-spacing} * 2));
   padding-left:$col-spacing;
   padding-right:$col-spacing;
}

.w-100{
   width:100%;
}

.w-100-sm{
   @media(max-width: $screen-md){
      width:100%;
   }
}

.no-padding{
   padding:0px;
}

.no-m{
   margin: 0px;
}

.no-m-t{
   margin-top:0px;
}

.m-t-md{
   margin-top:$space-md;
}

.m-t-lg{
   margin-top:$space-lg;
}

.m-t-xl{
   margin-top:$space-xl;
}

.m-t-xxl{
   margin-top:$space-xxl;
}

.m-b-lg{
   margin-bottom:$space-lg;
}

.m-b-xl{
   margin-bottom:$space-xl;
}

.p-t-xxl{
   padding-top:$space-xxl;
}

.white-bg{
   background-color: $white;
}

.page-transition{
   position:relative;
   z-index:10;
   left:0px;
   top:-1px;
   width:100%;
   overflow:hidden;
}

.btn{
   color:$white;
   background-color: $dark-grey;
   font-size: 1em;
   padding: 0.7em;
   border:1px $dark-grey solid;
   text-align: center;
}

.btn:hover{
   border-image-slice: 1;
   border-width: 1px;
   border-image-source: conic-gradient(from -62deg, $yellow, $pink);
}

//Classes for responsive circle images
.img-circle-container{
   position: relative;
   width: 100%;
   padding-top: 100%;
   min-width:20px;
   overflow:hidden;
}

.img-circle{
   border-radius:50%
}

.img-circle-img{
   position:absolute;
   top:0px;
   left:0px;
   width: 100%;
   height: 100%;
   object-fit:cover;
}

img{
   font-size: 16px;
}

.img-full-width{
   width:100%;
}

.blog-author{
   @media(max-width: $screen-md){
      order:+1;
      margin-top:$space-xxl;
   }
}

.blog-header{
   grid-column-gap:7%;
}

.blog-img{
   position:relative;
}

.blog-img-frame{
   position:absolute;
   left:0px;
}

.blog-img-frame-bottom{
   position:absolute;
   left:0px;
   bottom:0px;
   transform: rotate(180deg);
}