#footer-wrapper{
    z-index:10;
    width:$page-width;
    padding-top:30px;
    padding-bottom:60px;
    padding-left:$page-padding;
    padding-right:$page-padding;
    min-height:$header-min-height;
    color:$dark-grey;
    background-color:$white;
    grid-column-gap: 4%;
}

#footer-logo{
  @media (min-width: $screen-mdlg){
    max-height:100px;
  }
  @media (min-width: $screen-lg){
    max-height:100px;
  }
  @media (min-width: $screen-xl){
    max-height:150px;
  }
}

#footer-contact{
  order: +1;
  @media (min-width: $screen-sm){
    order: 0;
  }
}

#footer-wrapper p, #footer-wrapper div{
  font-size:100%;
  @media (min-width: $screen-md){
    font-size: 90%;
  }
  @media (min-width: $screen-mdlg){
    font-size: 90%;
  }
  @media (min-width: $screen-lg){
    font-size: 100%;
  }
}

.footer-icon{
  width:2.4em;
  height:2.4em;
}