:root {
   --speed: .3s;
   --cubic-buzier: cubic-bezier(.32,.13,.2,1.00); 
}

#header-wrapper{
   position:fixed;
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   z-index:50;
   width:calc(100% - (#{$page-padding} * 2));
   height:$header-height;
   padding:$space-md $page-padding;
   color:$dark-grey;
}

.header-wrapper-bg-active .header-logo{
   opacity: 1;
}

.header-wrapper-bg-active .nav-bg{
   width: 100%;
   height: 100%;
   background-color: $white;
   opacity: 1;
   box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
}

.nav-bg{
   position: absolute;
   width: 100%;
   height: 100%;
   top:0px;
   left:0px;
   opacity: 0;
   transition: all .5s ease-in;
}

.header-item{
   height:$header-height;
}

#header-logo-wrapper{
   position:relative;
}

.header-logo{
   position:relative;
   z-index:50;
   height:100%;
   transition: all .4s ease-in;
   transition-delay: .3s;
   opacity: 0;
}

.header-logo-blob{
   position:absolute;
   top:0px;
   left:0px;
   height:100%;
   transform: scale(2) translateX(-10%);
}


//Site nav
#header-menu-wrapper{
   display:flex;
   justify-content:flex-end;
   align-items:center;
}

.nav-wrapper{
   position:absolute;
   top: 100%;
   left: 0px;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   justify-content: space-between;
   clip-path: circle(0px at 95% -8%);
   transition: clip-path ease-in-out 300ms;
   transition-timing-function: var(--cubic-buzier);

   @media (min-width: $screen-md){
      position:relative;
      display:flex;
      flex-direction: row;
      align-items:center;
      justify-content: flex-end;
      width:100%;
      height:100%;
      padding: .5rem 0px;
      top:0px;
      background-image: none;
      clip-path: none;
   }

   &-open{
      clip-path: circle(125% at 95% -8%);
   }
}

#site-nav{
   display:flex;
   flex-direction: column;
   width: 70%;
   margin-top:$space-xxl;

   @media (min-width: $screen-md){
       display:flex;
       justify-content: space-between;
       width:100%;
       height:100%;
       margin-top:0px;
       flex-direction: row;
       align-items:center;
   }
}

.nav-item{
   position:relative;
   z-index:50;
   text-decoration: none;
   font-size: 1.5rem;
   padding:5%;
   padding-left:12%;

   @media (min-width: $screen-md){
       display:flex;
       align-items:center;
       height:100%;
       padding:0px;
       font-size: 1.25rem;
   }
}

#mobile-nav-background{
   position:fixed;
   z-index:49;
   top:0px;
   left:0px;
   right:0px;
   bottom:0px;
   background-color:white;
   @media (min-width: $screen-md){
       display:none;
   }
}

#mobile-nav-cookie{
   position:absolute;
   width:150%;
   top:-100px;
   right:-265px;
   transform:rotate(-70deg);
}


//Hamburger animation
.nav-toggle{
   @media (min-width: $screen-md){
     display:none;
   }
 }
 
 .hamburger{
   width: 100%;
   width: calc(100% - (#{$space-md} * 2));
   padding: $space-md;
   z-index:51;
 }
 
 .nav-toggle {
   position:relative;
   width: 2.5rem;
   height: 2.5rem;
   z-index: 52;
   cursor: pointer;
   transition: all 0.25s;
   
   &:nth-child(1) &_line { background-color: $dark-grey }
 
   &_line {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
     height: 5px;
     border-radius: 2.5px;
     background-color: $dark-grey;
     
     &-q {
       transition: all calc(.3s * 2);
 
       .on & {
         transform: translate(-0%, -50%) rotate(-45deg);
       }
     }
   }
 }
  
 svg {
   position: absolute;
   top: 0px;
   left: 0px;
   overflow: visible;
   height: 100%;
   width: 100%;
   
   path {
     fill: none;
     stroke: $dark-grey;
     stroke-width: 20px;
     stroke-linejoin: bevel;
     stroke-linecap: round;
     stroke-linejoin: round;
   }
   
   .path {
     &-a {
       stroke: $dark-grey;
       stroke-dasharray: 100 500;
       transition: all calc(.3s * 2);
       
       .on & {
         stroke-dasharray: 23 500;
         stroke-dashoffset:-280;    
       }
     }
   }
 }

















 

/*




 #header-bg{
     display: none;

     @media (min-width: $screen-md){
        position: absolute;
        display:block;
        top:0px;
        min-width: 100%;
     }
 }

 .header-logo-blob{
   height:calc((2.9rem * 1.6) + #{$space-lg});
   margin-left:calc(#{$page-padding} - 5rem);

   @media (min-width: $screen-lg){
      margin-left:calc(#{$page-padding} - 4.6rem);
   }
}

 #header-bg-img{
    height:7rem;
}

#header-logo-wrapper{
   position:relative;
   height:2.9rem;
   min-height:$header-min-height;
}

 .header-logo{
     position:relative;
     z-index:50;
     height:100%;
 }

 .nav-wrapper{
    position:absolute;
    top: 100%;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    clip-path: circle(0px at 100% -5%);
    transition: clip-path ease-in-out 300ms;
    transition-timing-function: var(--cubic-buzier);

    @media (min-width: $screen-md){
        position:relative;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        justify-content: space-between;
        width:auto;
        height:auto;
        min-height:$header-min-height;
        top:0px;
        background-image: none;
        clip-path: none;
    }
 }

 .nav-wrapper--open{
    clip-path: circle(110% at 100% -5%);
 }

 #site-nav{
    width: 70%;
    margin-top:$space-xxl;

    @media (min-width: $screen-md){
        position:relative;
        display:flex;
        margin-top:0px;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        width:100%;
    }
 }

 #mobile-nav-background{
    position:fixed;
    z-index:49;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color:white;
    @media (min-width: $screen-md){
        display:none;
    }
 }

 #mobile-nav-cookie{
    position:absolute;
    width:150%;
    top:-100px;
    right:-265px;
    transform:rotate(-70deg);
 }

 .nav-item{
    position:relative;
    z-index:50;
    display:flex;
    align-items:center;
    text-align: right;
    text-decoration: none;
    font-size: 1.5rem;
    padding:6%;
    padding-left:12%;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);

    @media (min-width: $screen-md){
        display:block;
        height:100%;
        padding-left:0px;
        padding-right:0px;
        padding-top:.7rem;
        padding-bottom:.7rem;
    }
    @media (min-width: $screen-lg){
        display:block;
        height:100%;
        padding-left:0px;
        padding-right:0px;
        padding-top:.7rem;
        padding-bottom:.7rem;
    }
 }


*/