:root {
    --speed: .3s;
    --cubic-buzier: cubic-bezier(.32,.13,.2,1.00); 
 }

//page 1
#page1{
    background-image:url('../img/wave.svg');
    background-size: auto 100%;
    background-position: 37% 0%;

    @media (min-width: $screen-md){
        background-position: 47% 0%;
    }
}

#landing-logo-container{
    display:flex;
    justify-content:center;
    align-self:flex-end;
    @media (min-width: $screen-md){
        display: flex;
        align-self:center;
    }
}

#landing-logo{
    width:60%;
}

#landing-text-wrapper{
    color:white;
    align-self:flex-start;
    grid-row:2/ 2;
    text-align:center;

    @media (min-width: $screen-md){
        text-align:left;
        align-self:center;
        grid-row:1/ 1;
    }
}

//page 2
 #page2{
    top:-1px;
    color:white;
    background-color:#ffcf7b;
    background-image: url('../img/watermarks.svg');
    background-size: auto 100%;
    background-position:50% 0%;
}

#capabilities-logos{
    grid-row:2/ 2;
    display:grid;
    align-self:flex-start;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: $screen-md){
        grid-column:1/ 1;
        grid-row:1/ 1;
        align-self:center;
    }
}

.capability{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.capability-logo-container{
    padding:17%;
    clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
    transition: clip-path ease-in-out 750ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-logo-container{
    clip-path: polygon(0% 100%, 0% -200%, 0% -200%);
}

.capability-text{
    display:flex;
    position:absolute;
    z-index:49;
    width:100%;
    height:100%;
    border-radius:35px;
    font-size:1.7rem;
    line-height: 175%;
    color:$dark-grey;
    align-items:center;
    justify-content: center;
    text-align:center;
    clip-path: polygon(0% 100%, 200% 100%, 200% 100%);
    transition: clip-path ease-in-out 750ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-text{
    clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
    height:100%;
}

.capability-logo{
    width:100%;
}

#capabilities-content{
    grid-row:1/ 1;

    @media (min-width: $screen-md){
        grid-column:2/ 2;
        grid-row:1/ 1;
        align-self:center;
    }
}

#drip-transition-vector{
    width:100%;
    height: auto;
}

//page 3
#page3{
    top:-2px;
    color:$dark-grey;
    background-color:$white;
    width:calc(100% - #{$page-padding});
    padding-right:0px;
    background-image: url('../img/projects1.svg');
    background-size: auto 100%;
    background-position: 55% 0%;
    grid-gap:0px;
    background-repeat: no-repeat;

    @media (min-width: $screen-md){
        background-position: 50% 0%;
    }
    @media (min-width: $screen-mdlg){
        background-position: 50% 0%;
    }
    @media (min-width: $screen-lg){
        background-position: 50% 0%;
    }
}

#project-images-container{
    position:relative;
    width:100%;
    height:100%;
}

.project-image{
    width:100%;
}

.project-img{
    width:70%;
}

#project-text-container{
    position:relative;
    height:100%;
    text-align:right;
    padding-right:$page-padding;
}

#projects-title{
    position:absolute;
    top:50%;
    transform: translateY(-325%);
    width:calc(100% - (#{$page-padding} * 3));
    right:$page-padding;
    @media (min-width: $screen-md){
        width:calc(100% - (#{$page-padding} * 3));
        right:calc(#{$page-padding} * 3);
    }
}

.project-text{
    position:absolute;
    top:50%;
    width:calc(100% - (#{$page-padding} * 3));
    right:$page-padding;
    transform: translateY(-50%);
    opacity:0;
    @media (min-width: $screen-md){
        width:calc(100% - (#{$page-padding} * 3));
        right:calc(#{$page-padding} * 3);
    }
}

.project-text-active{
    opacity:1;
    transition: opacity 1500ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
    transition-delay: 500ms;
}
.project-text-out{
    opacity:0;
    transition: opacity 1500ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.project-image{
    position:absolute;
    top:50%;
    transform: rotate(95deg) translateY(-50%);
    transform-origin: 135% 50%;
}
.project-image-active{
    transform: rotate(0deg) translateY(-50%);
    transition: transform 1550ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}
.project-image-out{
    transform: rotate(-90deg) translateY(-50%);
    transition: transform 1550ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

#project-gears{
    position:absolute;
    top:15%;
    height:70%;
    left:calc(100% - 65px);
    transition: transform 1550ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
    
    @media (min-width: $screen-md){
        top:20%;
        height:60%;
        left:calc(100% - 90px);
    }
}

//page 4
#page4{
    top:-3px;
    color:$dark-grey;
    background-color:$white;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-image: url('../img/contact-us.svg');
    background-size: auto 100%;
    background-position: 55% 0%;
    height: 100%;

    @media (min-width: $screen-md){
        grid-column-gap: 13%;
        background-position: 50% 0%;
    }
    @media (min-width: $screen-mdlg){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 13%;
        background-position: 50% 0%;
    }
    @media (min-width: $screen-lg){
        background-position: 50% 0%;
    }
}



//BLOG LIST
.blog-list-header-container{
    background-color: $very-dark-grey;
    background-image: url('../img/cookie-watermark-left.png');
    background-size: 66% auto;
    background-position: 100% 25%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px rgba(0,0,0, .3);
}

.blog-list{
    grid-column-gap:$page-padding;
    transition: opacity 500ms ease-out;
}

.blog-highlight{
    @media(max-width: $screen-md){
        order:+1;
    }
}

.blog-highlight small{
    margin-top: .4rem;
    padding-top: .5rem;
}

.blog-card{
    margin-bottom:7%;
    overflow:hidden;
    min-height:150px;
}

.blog-card:hover .blog-card-img-overlay{
    background: rgba(0, 0, 0, 0);
}

.blog-card-img-container{
    position:relative;
    overflow:hidden;
    width:30%;
    min-height:150px;
}

.blog-card-img{
    position:absolute;
    object-fit:cover;
    height:50px;
    min-width: 100%;
    min-height: 100%;
}

.blog-card-img-overlay{
    position:absolute;
    z-index:2;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.25);
    transition: background 250ms ease-out;
}

.blog-card-text-container{
    width:70%;
    padding:2.5%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    border-image-slice: 1;
    border-width: 1px;
    border-top:0px;
    border-right:0px;
    border-bottom:1px solid;
    border-left:1px solid;
    border-image-source: linear-gradient(to left, $yellow, $pink);
}

.blog-card-text-container h4{
    margin:0px;
}

.blog-card-text-container small{
    color: $grey;
    text-align:center;
}


 //BLOG DETAIL
 .blog-header{
    grid-column-gap:3.4rem;
 }

.blog-author-img-container{
    width:6rem;
 }

 .blog-details-container{
    padding-left: 0px;
    @media(max-width: $screen-md){
       order:+1;
    }
 }

.blog-details{
    padding-left:1rem;
}

.blog-details div{
    padding:.3rem;
}

.tag-list-container{
    padding-top:0.3rem;
}

 .blog-banner{
    position:relative;
 }

 .blog-banner-img{
    min-height:200px;
    position:relative;
    background-image: linear-gradient(to bottom right, $pink, $yellow);
 }

 .blog-banner-img .img-full-width{
     opacity:0.6;
 }
 
 .blog-banner-frame{
    position:absolute;
    z-index:2;
    left:0px;
 }
 
 .blog-banner-frame-bottom{
    position:absolute;
    left:0px;
    bottom:-1px;
    transform: rotate(180deg);
 }

 .blog-content{
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    padding-left:5rem;
    padding-right:5rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    background-color:$white;
    word-wrap:break-word;
    margin-top:$space-lg;
    margin-bottom:$space-lg;
 }

.blog-content a{
    &:hover{
        text-decoration: underline;
    }
}

.blog-content p{
    line-height: 1.7rem;
}

.blog-content h1{

}

.blog-content h2{
    margin-block-start:1em;
    margin-block-end:.5em;
}

.blog-content h3{
     
}

.blog-content ul{
    list-style-image:url("../img/ul-arrow.svg");
    list-style-type: circle;
}

.blog-content ul>li{
    margin-top: 1.8rem;
    padding-left: 1.6rem;
}

.blog-content ol{
    counter-reset: inst;
}

.blog-content ol>li{
    position: relative;
    margin-top: 1.8rem;
    padding-left: 1rem;
    clear: both;
    list-style: none;
    counter-increment: inst;
}

.blog-content>ol>li{
    margin-top: 5rem;
}

.blog-content ol>li::before {
    content: counter(inst);
    position: absolute;
    background-image: linear-gradient(to bottom right, $pink, $yellow);
    color: $white;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 1rem;
    width: 1rem;
    top:-0.3em;
    left: -2.6rem;
    padding: 0.6rem 0.6rem;
    border-radius: 50%;
    font-size: 1rem;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.blog-content img{
    width:100%;
    margin-top: 2.5%;
}

.blog-content img + em{
    width: 95%;
    margin: 2.5%;
    margin-top: 0px;
}