:root {
    --speed: .3s;
    --cubic-buzier: cubic-bezier(.32,.13,.2,1.00); 
 }

#login-content{
    background-image: radial-gradient(100vw 100vw at 100vw 100vh, $yellow, $pink);
}


#home-content{
    background-image: radial-gradient(100vw 100vw at 100vw 100vh, $yellow, $pink);
}

//Section 1
#section-1{
    position:relative;
    grid-template-rows: 35% 1fr;

    @media (min-width: $screen-md){
        grid-template-rows: auto;
    }
}

#landing-bg-container{
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
    height:38%;

    @media (min-width: $screen-md){
        width:50%;
        height:100%;
    }
}

#landing-bg-container .bg-image{
    height: 100%;
    top: 100%;
    min-width:200%;
    transform: translateX(-16%) translateY(-100%);
}

#landing-logo-container{
    display:flex;
    justify-content:flex-end;
    align-self:flex-end;
    height:50%;
    width: auto;

    @media (min-width: $screen-md){
        height:auto;
        align-self:center;
    }
}

#landing-logo{
    position:relative;
    z-index: 1;
    width:63%;
}

#landing-text-wrapper{
    position:relative;
    z-index:5;
    color:white;
    align-self:flex-start;
    grid-row:2/ 2;
    text-align:left;
    padding: $space-xl 0px;

    @media (min-width: $screen-md){
        text-align:left;
        align-self:center;
        grid-row:1/ 1;
    }
}

#landing-text-wrapper h1{
    margin-bottom:0px;
}

.call-to-action{
    display: inline-block;
    padding: 0.8rem 2rem;
    margin-top:$space-md;
    border-radius: 1.6rem;
    background-color: $dark-grey;
    font-weight:400;
    cursor:pointer;
}


//Section 2
#section-2{
    position:relative;
}

#section-2 .bg-image{
    top:0px;
    left:107%;
    height:100%;
    transform: translateX(-100%);

    filter: drop-shadow(10px 2px 10px rgba(0,0,0,0.35));

    @media (min-width: $screen-md){
        left:60%;
    }

    @media (min-width: $screen-lg){
        left:53.5%;
    }
}

#section-2 .watermark-image{
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
}

.blob-text-left{
    padding: 0px $space-md $space-md 0px;
}


#funnel-img-container{
    position:relative;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    width:100vw;
    padding-top:$space-lg;
    overflow:hidden;
}

#funnel-img{
    bottom:0px;
    height:55vh;
    max-height:200px;
    min-width:100vw;
    object-fit:cover;
    filter: drop-shadow(10px 2px 10px rgba(0,0,0,0.35));

    @media (min-width: $screen-mdlg){
        max-height:9999px;
    }
}

//Section 3
#you-section-pre{
    color: $white;
}

#you-section{
    position:relative;
    background-color: $white;
    top:-2px;
}

#you-title{
    margin-top: 2.5rem;
    margin-bottom: 0px;
}

#person-img{
    height:45vh;
    padding: 2.5rem 0px;
}



//Section 4
#projects-section{
    position:relative;
    top:-2px;
    background-color: $white;
}

#projects-title{
    height: 10%;
}

.project-cards{
    padding: 0px 0px $space-xxl 0px;
}

.project-card{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    height: 80vh;
    width: 100%;
    margin: 3.5rem 0px;
    background-color: white;
    border-radius:1rem;
    overflow:hidden;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.3);

    @media (min-width: $screen-md){
        height: 50vh;
        width: 66.6vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

.project-card-text{
    padding: 7%;
    height: 86%;
}

.project-card-link{
    display: inline-block;
    padding: 0.8rem 2rem;
    margin-top:$space-md;
    border-radius: 1.6rem;
    color: $white;
    background-image: radial-gradient(100% 75% at 100% 100%, $yellow, $pink);
    font-weight:400;
}

.project-card-img{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    background-image: radial-gradient(100% 100% at 100% 100%, $yellow, $pink);
    overflow:hidden;
}

.project-card-img img{
    max-width: 100%;
    max-height: 100%;
}



//Contact Form
#contact-section{
    position:relative;
    top:-3px;
    background-image: linear-gradient(to bottom, $white, $very-light-grey);
}

.contact-form{
    z-index: 5;
    padding: 4rem 0px;
}

#contact-bg-container{
    position:absolute;
    z-index:0;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow: hidden;
}

#contact-bg-container .bg-image{
    height: 100%;
    top:44%;
    min-width: 100%;
    left:0%;
    transform: translateX(-90%) translateY(-38%);

    @media(min-width: $screen-md){
        left:40%;
        transform: translateX(-84%) translateY(-38%);
    }
}




//BLOG LIST
#blog-list-wrapper{
    background-color: $very-dark-grey;
}

.blog-list-header-container{
    //SET IN  HTML DUE TO PRIVATE S3 objects.
    //background-image: url('../img/cookie-watermark-left.png');
    background-size: 66% auto;
    background-position: 100% 25%;
    background-repeat: no-repeat;
}

#blog-list-content-wrapper{
    position: relative;
    z-index: 5;
}

#blog-list-header-wave{
    display:block;
    transform: rotate(180deg);
}

#blog-card-list{
    position:relative;
    top: -0px;
}

.blog-list{
    grid-column-gap:$page-padding;
    transition: opacity 500ms ease-out;
}

#blog-search{
    @media(max-width: $screen-md){
        order:-1;
    }
}

#blog-search .tag-list-title{
    @media(max-width: $screen-md){
        text-align:center;
    }
}

#blog-search .tag-list{
    @media(max-width: $screen-md){
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.blog-card-highlight{
    position:relative;
    margin-top:1.2rem;
    margin-left:1.2rem;
    min-height:8rem;
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.25);
}

.blog-card-container{
    margin-bottom:8%;
}

.blog-card{
    position:relative;
    margin-top:1.2rem;
    margin-left:1.2rem;
    min-height:8rem;
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.25);
}

.blog-card:hover .blog-card-img-overlay{
    background: rgba(0, 0, 0, 0);
}

.blog-card-img-container{
    position:absolute;
    overflow:hidden;
    width:8rem;
    height:8rem;
    top:-1.2rem;
    left:-1.2rem;
    background-image: linear-gradient(to bottom left, $yellow, $pink);
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.25);
}

.blog-card-img{
    position:absolute;
    object-fit:cover;
    height:50px;
    min-width: 100%;
    min-height: 100%;
}

.blog-card-img-overlay{
    position:absolute;
    z-index:2;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.25);
    transition: background 250ms ease-out;
}

.blog-card-text-container{
    width:94%;
    padding:3%;
}

.blog-card-header-container{
    width:calc(100% - 6.8rem);
    margin-left: 6.8rem;
    min-height: 6.8rem;
}

.blog-card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right:.3em;
    color:$medium-grey;
    border-image-slice: 1;
    border-right:3px solid;
    border-image-source: linear-gradient(to top, $yellow, $pink);
}

.blog-card-title h4{
    margin:0px;
    font-weight:500;
    margin-block-start: 3%;
    margin-block-end: 3%;
}


 //BLOG DETAIL
 .blog-header{
    grid-column-gap:3.4rem;
 }

.blog-author-img-container{
    width:6rem;
 }

 .blog-details-container{
    padding-left: 0px;
    @media(max-width: $screen-md){
       order:+1;
    }
 }

.blog-details{
    padding-left:1rem;
}

.blog-details div{
    padding:.3rem;
}

.tag-list-container{
    padding-top:0.3rem;
}

 .blog-banner{
    position:relative;
 }

 .blog-banner-img{
    min-height:200px;
    position:relative;
    background-image: linear-gradient(to bottom right, $pink, $yellow);
 }

 .blog-banner-img .img-full-width{
     opacity:0.6;
 }
 
 .blog-banner-frame{
    position:absolute;
    z-index:2;
    left:0px;
 }
 
 .blog-banner-frame-bottom{
    position:absolute;
    left:0px;
    bottom:-1px;
    transform: rotate(180deg);
 }

 .blog-content{
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    padding-left:5rem;
    padding-right:5rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    background-color:$white;
    word-wrap:break-word;
    margin-top:$space-lg;
    margin-bottom:$space-lg;
    color: black;

    @media(max-width: $screen-mdlg){
        box-shadow: 0px 0px 0px;
    }
 }

.blog-content a{
    &:hover{
        text-decoration: underline;
    }
}

.blog-content p{
    line-height: 1.7rem;
}

.blog-content h1{

}

.blog-content h2{
    margin-block-start:1em;
    margin-block-end:.5em;
}

.blog-content h3{
     
}

.blog-content ul{
    list-style-image:url("../img/ul-arrow.svg");
    list-style-type: circle;
}

.blog-content ul>li{
    margin-top: 1.8rem;
    padding-left: 1.6rem;
}

.blog-content ol{
    counter-reset: inst;
}

.blog-content ol>li{
    position: relative;
    margin-top: 1.8rem;
    padding-left: 1rem;
    clear: both;
    list-style: none;
    counter-increment: inst;
}

.blog-content>ol>li{
    margin-top: 5rem;
}

.blog-content ol>li::before {
    content: counter(inst);
    position: absolute;
    background-image: linear-gradient(to bottom right, $pink, $yellow);
    color: $white;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 1rem;
    width: 1rem;
    top:-0.3em;
    left: -2.6rem;
    padding: 0.6rem 0.6rem;
    border-radius: 50%;
    font-size: 1rem;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.blog-content img{
    width:100%;
    height:auto;
    margin-top: 2.5%;
}

.blog-content img + em{
    width: 95%;
    margin: 2.5%;
    margin-top: 0px;
}




































//Section 2
 #page2{
    top:-1px;
    color:white;
    background-color:#ffcf7b;
    //SET IN  HTML DUE TO PRIVATE S3 objects.
    //background-image: url('../img/watermarks.svg');
    background-size: auto 100%;
    background-position:50% 0%;
}

#capabilities-logos{
    grid-row:2/ 2;
    display:grid;
    align-self:flex-start;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: $screen-md){
        grid-column:1/ 1;
        grid-row:1/ 1;
        align-self:center;
    }
}

.capability{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.capability-logo-container{
    padding:17%;
    clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
    transition: clip-path ease-in-out 750ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-logo-container{
    clip-path: polygon(0% 100%, 0% -200%, 0% -200%);
}

.capability-text{
    display:flex;
    position:absolute;
    z-index:49;
    width:100%;
    height:100%;
    border-radius:35px;
    font-size:1.7rem;
    line-height: 175%;
    color:$dark-grey;
    align-items:center;
    justify-content: center;
    text-align:center;
    clip-path: polygon(0% 100%, 200% 100%, 200% 100%);
    transition: clip-path ease-in-out 750ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-text{
    clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
    height:100%;
}

.capability-logo{
    width:100%;
}

#capabilities-content{
    grid-row:1/ 1;

    @media (min-width: $screen-md){
        grid-column:2/ 2;
        grid-row:1/ 1;
        align-self:center;
    }
}

#drip-transition-vector{
    width:100%;
    height: auto;
}

//page 3
#page3{
    top:-2px;
    color:$dark-grey;
    background-color:$white;
    width:calc(100% - #{$page-padding});
    padding-right:0px;
    //SET IN  HTML DUE TO PRIVATE S3 objects.
    //background-image: url('../img/projects1.svg');
    background-size: auto 100%;
    background-position: 55% 0%;
    grid-gap:0px;
    background-repeat: no-repeat;

    @media (min-width: $screen-md){
        background-position: 50% 0%;
    }
    @media (min-width: $screen-mdlg){
        background-position: 50% 0%;
    }
    @media (min-width: $screen-lg){
        background-position: 50% 0%;
    }
}

#project-images-container{
    position:relative;
    width:100%;
    height:100%;
}

.project-image{
    width:100%;
}

.project-img{
    width:70%;
}

#project-text-container{
    position:relative;
    height:100%;
    text-align:right;
    padding-right:$page-padding;
}



.project-text{
    position:absolute;
    top:50%;
    width:calc(100% - (#{$page-padding} * 3));
    right:$page-padding;
    transform: translateY(-50%);
    opacity:0;
    @media (min-width: $screen-md){
        width:calc(100% - (#{$page-padding} * 3));
        right:calc(#{$page-padding} * 3);
    }
}

.project-text-active{
    opacity:1;
    transition: opacity 1500ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
    transition-delay: 500ms;
}
.project-text-out{
    opacity:0;
    transition: opacity 1500ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.project-image{
    position:absolute;
    top:50%;
    transform: rotate(95deg) translateY(-50%);
    transform-origin: 135% 50%;
}
.project-image-active{
    transform: rotate(0deg) translateY(-50%);
    transition: transform 1550ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}
.project-image-out{
    transform: rotate(-90deg) translateY(-50%);
    transition: transform 1550ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

#project-gears{
    position:absolute;
    top:15%;
    height:70%;
    left:calc(100% - 65px);
    transition: transform 1550ms;
    transition-timing-function: cubic-bezier(var(--cubic-buzier));
    
    @media (min-width: $screen-md){
        top:20%;
        height:60%;
        left:calc(100% - 90px);
    }
}

//page 4
#page4{
    top:-3px;
    color:$dark-grey;
    background-color:$white;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    //SET IN  HTML DUE TO PRIVATE S3 objects.
    //background-image: url('../img/contact-us.svg');
    background-size: auto 100%;
    background-position: 55% 0%;
    height: 100%;

    @media (min-width: $screen-md){
        grid-column-gap: 13%;
        background-position: 50% 0%;
    }
    @media (min-width: $screen-mdlg){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 13%;
        background-position: 50% 0%;
    }
    @media (min-width: $screen-lg){
        background-position: 50% 0%;
    }
}