body{
    font-family:'raleway', 'roboto', sans-serif;
    font-display: optional;
    color: $dark-grey;
 }

html{
    font-size: 11px;

    @media (min-width:$screen-md){
        font-size: 12px;
    }
    @media (min-width:$screen-mdlg){
        font-size: 16px;
    }
    @media (min-width:$screen-lg){
        font-size: 20px;
    }
    @media (min-width:$screen-xl){
        font-size: 26px;
    }
    @media (min-width:$screen-xxl){
        font-size: 29px;
    }
}

h1, h2, h3, h4, h5, h6, body {
    font-weight: 100;
  }

h1{
    font-size:3.4rem;
    font-weight:200;
    margin-block-start: .8em;
    margin-block-end: .8em;
}

h2{
    font-size:2.8rem;
    margin-block-start: .8em;
    margin-block-end: .8em;
}

h3{
    font-size:2.2rem;
    margin-block-start: .8em;
    margin-block-end: .8em;
}
  
h4 {
    font-size: 1.5rem;
    margin-block-start: .8em;
    margin-block-end: .8em;
}

h5 {
    font-size: 1rem;
    margin-block-start: .8em;
    margin-block-end: .8em;
}

strong{
    font-weight:430;
}

hr{
    height: 1px;
    background-color: $light-grey;
    border: none;
}

a{
    color:$a-color;
    text-decoration:none;
}

pre{
    position:relative;
    margin-top:2.7em;
    color: $white;
    background-color: $dark-grey;
    padding:$space-lg;
    border-image-slice: 1;
    border-width: 2px;
    border-bottom:2px solid;
    border-left:2px solid;
    border-image-source: linear-gradient(to left, $yellow, $pink);
    transform-style: preserve-3d;
}

code{
    padding: 0px !important;
    background-color: $dark-grey !important;
}

.code-title{
    font-family:'raleway', 'roboto', sans-serif;
    position:absolute;
    transform:translateZ(-1px);
    background-color: $dark-grey;
    top:-1.7em;
    right:0px;
    padding:.35em 1em;
    border-top-right-radius: .3em;
    border-top-left-radius: .3em;
}

.code-file-name{
    margin-right:.5em;
    font-weight:600;
}

blockquote{
    background-color:$very-light-grey;
    color: $grey;
    margin: 0;
    margin-top:1.5em;
    margin-bottom:1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .05em;
    padding-bottom: .05em;
    border-left: .4em $light-grey solid;
}

.text-muted{
    text-decoration:none;
    color:inherit;
}

.color-white{
    color:$white;
}

.text-right{
    text-align: right;
}

.fa-circle{
    display: inline-block;
    width:1em;
    height:1em;
    border-radius: 1.7em;
    background-color:$dark-grey;
    color:$white;
    padding: 0.7em 0.7em;
    text-align:center;
    margin-right:6px;
 }

 .text-center{
     text-align: center;
 }

 .text-center-sm{
     @media(max-width: $screen-md){
         text-align:center;
     }
 }

.large-error{
     font-size: 11rem;
     margin-bottom:$space-xl;
     margin-top:0px;
 }