/* colors */
/* Typography */
/* breakpoints */
/* Spacing */
/* add mixins here */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
body {
  margin: 0px;
  padding: 0px;
  background-color: #fcfcfc;
}

#wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  display: flex;
  z-index: 1;
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  align-items: center;
  justify-content: space-around;
}

.page-padded {
  padding-top: 65px;
}

.full-height {
  min-height: 100vh;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
}
@media (min-width: 699px) {
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13%;
  }
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 0.3333fr);
}
@media (min-width: 699px) {
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13%;
  }
}

.col-3-sm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 13%;
}

.space-evenly {
  display: flex;
  justify-content: space-between;
}

.flex-y {
  flex-direction: column;
}

.flex-x {
  flex-direction: row;
}

.center-content-x {
  display: flex;
  justify-items: center;
  justify-content: center;
}

@media (max-width: 699px) {
  .center-content-x-sm {
    display: flex;
    justify-items: center;
    justify-content: center;
  }
}

.center-content-y {
  display: flex;
  align-items: center;
}

@media (max-width: 699px) {
  .center-content-y-sm {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 699px) {
  .center-content-xy-sm {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 699px) {
  .hidden-sm {
    display: none;
  }
}

@media (max-width: 918px) {
  .hidden-md {
    display: none;
  }
}

.center-content-xy {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.center-self-x {
  justify-self: center;
}

@media (max-width: 699px) {
  .center-self-x-sm {
    justify-self: center !important;
  }
}

.center-self-y {
  align-self: center;
}

.center-self-xy {
  align-self: center;
  justify-self: center;
}

.align-self-end {
  align-self: flex-end;
  justify-self: flex-end;
}

.w-25 {
  width: calc(25% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-35 {
  width: calc(35% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-50 {
  width: calc(50% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-70 {
  width: calc(70% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-100 {
  width: 100%;
}

@media (max-width: 699px) {
  .w-100-sm {
    width: 100%;
  }
}

.no-padding {
  padding: 0px;
}

.no-m {
  margin: 0px;
}

.no-m-t {
  margin-top: 0px;
}

.m-t-md {
  margin-top: 10px;
}

.m-t-lg {
  margin-top: 15px;
}

.m-t-xl {
  margin-top: 20px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-b-lg {
  margin-bottom: 15px;
}

.m-b-xl {
  margin-bottom: 20px;
}

.p-t-xxl {
  padding-top: 50px;
}

.white-bg {
  background-color: #fcfcfc;
}

.page-transition {
  position: relative;
  z-index: 10;
  left: 0px;
  top: -1px;
  width: 100%;
  overflow: hidden;
}

.btn {
  color: #fcfcfc;
  background-color: #383a42;
  font-size: 1em;
  padding: 0.7em;
  border: 1px #383a42 solid;
  text-align: center;
}

.btn:hover {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: conic-gradient(from -62deg, #ffcf7b, #ed2f8b);
}

.img-circle-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  min-width: 20px;
  overflow: hidden;
}

.img-circle {
  border-radius: 50%;
}

.img-circle-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  font-size: 16px;
}

.img-full-width {
  width: 100%;
}

@media (max-width: 699px) {
  .blog-author {
    order: 1;
    margin-top: 50px;
  }
}

.blog-header {
  grid-column-gap: 7%;
}

.blog-img {
  position: relative;
}

.blog-img-frame {
  position: absolute;
  left: 0px;
}

.blog-img-frame-bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: rotate(180deg);
}

body {
  font-family: "raleway", "roboto", sans-serif;
  color: #383a42;
}

html {
  font-size: 11px;
}
@media (min-width: 699px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 918px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: 29px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 34px;
  }
}

h1, h2, h3, h4, h5, h6, body {
  font-weight: 100;
}

h1 {
  font-size: 3.4rem;
  font-weight: 200;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h2 {
  font-size: 2.8rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h3 {
  font-size: 2.2rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h4 {
  font-size: 1.5rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h5 {
  font-size: 1rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

strong {
  font-weight: 430;
}

hr {
  height: 1px;
  background-color: #aeb2bf;
  border: none;
}

.fa-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1.7em;
  background-color: #383a42;
  color: #fcfcfc;
  padding: 0.7em 0.7em;
  text-align: center;
  margin-right: 6px;
}

.text-center {
  text-align: center;
}

@media (max-width: 699px) {
  .text-center-sm {
    text-align: center;
  }
}

textarea {
  resize: vertical;
  font-family: inherit;
  font-weight: inherit;
  color: #383a42;
  min-height: 2.6em;
  max-height: 250px;
}

input {
  font-family: inherit;
  font-weight: inherit;
  color: #383a42;
}

.input-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #383a42;
}

.input-field {
  width: 100%;
  padding: 0.7em;
  font-size: 1em;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  border-radius: 0px;
  border-right: 0px;
  border: 1px #383a42 solid;
  border-top: 0px;
  border-left: 0px;
}

.input-field:focus {
  border-image-slice: 1;
  border-width: 1px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to left, #ffcf7b, #ed2f8b);
}

.fa-input-icon {
  color: #fcfcfc;
  background-color: #383a42;
  font-size: 1em;
  width: 1.2em;
  height: 1em;
  padding: 0.7em;
  border: 2px #383a42 solid;
  text-align: center;
  transition: padding 100ms ease-out, font-size 100ms ease-out;
}

.fa-input-icon-hover:hover {
  color: #fcfcfc;
  background-color: #383a42;
  font-size: 1.2em;
  width: 1.2em;
  height: 1em;
  padding: 0.5em;
}

:root {
  --speed: .3s;
  --cubic-buzier: cubic-bezier(.32,.13,.2,1.00);
}

#page1 {
  background-image: url("../img/wave.svg");
  background-size: auto 100%;
  background-position: 37% 0%;
}
@media (min-width: 699px) {
  #page1 {
    background-position: 47% 0%;
  }
}

#landing-logo-container {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
@media (min-width: 699px) {
  #landing-logo-container {
    display: flex;
    align-self: center;
  }
}

#landing-logo {
  width: 60%;
}

#landing-text-wrapper {
  color: white;
  align-self: flex-start;
  grid-row: 2/2;
  text-align: center;
}
@media (min-width: 699px) {
  #landing-text-wrapper {
    text-align: left;
    align-self: center;
    grid-row: 1/1;
  }
}

#page2 {
  top: -1px;
  color: white;
  background-color: #ffcf7b;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  height: 100%;
  background-image: url("../img/watermarks.svg");
  background-size: auto 100%;
  background-position: 50% 0%;
}
@media (min-width: 699px) {
  #page2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13%;
  }
}

#capabilities-logos {
  grid-row: 2/2;
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 699px) {
  #capabilities-logos {
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: center;
  }
}

.capability {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capability-logo-container {
  padding: 17%;
  clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
  transition: clip-path ease-in-out 750ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-logo-container {
  clip-path: polygon(0% 100%, 0% -200%, 0% -200%);
}

.capability-text {
  display: flex;
  position: absolute;
  z-index: 49;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  font-size: 1.7rem;
  line-height: 175%;
  color: #383a42;
  align-items: center;
  justify-content: center;
  text-align: center;
  clip-path: polygon(0% 100%, 200% 100%, 200% 100%);
  transition: clip-path ease-in-out 750ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-text {
  clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
  height: 100%;
}

.capability-logo {
  width: 100%;
}

#capabilities-content {
  grid-row: 1/1;
}
@media (min-width: 699px) {
  #capabilities-content {
    grid-column: 2/2;
    grid-row: 1/1;
    align-self: center;
  }
}

#drip-transition-vector {
  width: 100%;
  height: auto;
}

#page3 {
  top: -2px;
  color: #383a42;
  background-color: #fcfcfc;
  width: calc(100% - 7.5%);
  padding-right: 0px;
  background-image: url("../img/projects1.svg");
  background-size: auto 100%;
  background-position: 55% 0%;
  grid-gap: 0px;
  background-repeat: no-repeat;
}
@media (min-width: 699px) {
  #page3 {
    background-position: 50% 0%;
  }
}
@media (min-width: 918px) {
  #page3 {
    background-position: 50% 0%;
  }
}
@media (min-width: 1920px) {
  #page3 {
    background-position: 50% 0%;
  }
}

#project-images-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%;
}

.project-img {
  width: 70%;
}

#project-text-container {
  position: relative;
  height: 100%;
  text-align: right;
  padding-right: 7.5%;
}

#projects-title {
  position: absolute;
  top: 50%;
  transform: translateY(-325%);
  width: calc(100% - (7.5% * 3));
  right: 7.5%;
}
@media (min-width: 699px) {
  #projects-title {
    width: calc(100% - (7.5% * 3));
    right: calc(7.5% * 3);
  }
}

.project-text {
  position: absolute;
  top: 50%;
  width: calc(100% - (7.5% * 3));
  right: 7.5%;
  transform: translateY(-50%);
  opacity: 0;
}
@media (min-width: 699px) {
  .project-text {
    width: calc(100% - (7.5% * 3));
    right: calc(7.5% * 3);
  }
}

.project-text-active {
  opacity: 1;
  transition: opacity 1500ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
  transition-delay: 500ms;
}

.project-text-out {
  opacity: 0;
  transition: opacity 1500ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.project-image {
  position: absolute;
  top: 50%;
  transform: rotate(95deg) translateY(-50%);
  transform-origin: 135% 50%;
}

.project-image-active {
  transform: rotate(0deg) translateY(-50%);
  transition: transform 1550ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.project-image-out {
  transform: rotate(-90deg) translateY(-50%);
  transition: transform 1550ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

#project-gears {
  position: absolute;
  top: 15%;
  height: 70%;
  left: calc(100% - 65px);
  transition: transform 1550ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}
@media (min-width: 699px) {
  #project-gears {
    top: 20%;
    height: 60%;
    left: calc(100% - 90px);
  }
}

#page4 {
  top: -3px;
  color: #383a42;
  background-color: #fcfcfc;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-image: url("../img/contact-us.svg");
  background-size: auto 100%;
  background-position: 55% 0%;
  height: 100%;
}
@media (min-width: 699px) {
  #page4 {
    grid-column-gap: 13%;
    background-position: 50% 0%;
  }
}
@media (min-width: 918px) {
  #page4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13%;
    background-position: 50% 0%;
  }
}
@media (min-width: 1920px) {
  #page4 {
    background-position: 50% 0%;
  }
}

:root {
  --speed: .3s;
  --cubic-buzier: cubic-bezier(.32,.13,.2,1.00);
}

#header-wrapper {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  z-index: 50;
  width: calc(100% - (7.5% * 2));
  height: 1.5rem;
  min-height: 50px;
  padding-top: 15px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  color: #383a42;
}

#header-bg {
  display: none;
}
@media (min-width: 699px) {
  #header-bg {
    position: absolute;
    display: block;
    top: 0px;
    min-width: 100%;
  }
}

#header-bg-img {
  height: 7rem;
}

#header-logo-wrapper {
  position: relative;
  height: 2.9rem;
  min-height: 50px;
}

.header-logo {
  position: relative;
  z-index: 50;
  height: 100%;
}

.nav-wrapper {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-between;
  clip-path: circle(0px at 100% -5%);
  transition: clip-path ease-in-out 300ms;
  transition-timing-function: var(--cubic-buzier);
}
@media (min-width: 699px) {
  .nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    width: auto;
    height: auto;
    top: 0px;
    background-image: none;
    clip-path: none;
  }
}

.nav-wrapper--open {
  clip-path: circle(110% at 100% -5%);
}

#site-nav {
  width: 70%;
}
@media (min-width: 699px) {
  #site-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

#nav-background {
  position: fixed;
  z-index: 49;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
}
@media (min-width: 699px) {
  #nav-background {
    display: none;
  }
}

#mobile-nav-cookie {
  position: absolute;
  width: 150%;
  top: -100px;
  right: -265px;
  transform: rotate(-70deg);
}

.nav-item {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  text-align: right;
  color: #383a42;
  text-decoration: none;
  font-size: 1.5rem;
  height: 100%;
  padding: 6%;
  padding-left: 12%;
}
@media (min-width: 699px) {
  .nav-item {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}
@media (min-width: 1920px) {
  .nav-item {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

.hamburger {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
}

.menu {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.25s;
}
.menu:nth-child(1) .menu_line {
  background-color: #383a42;
}
.menu_line {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 50%;
  height: 5px;
  border-radius: 2.5px;
  transform: translate(-50%, -50%);
}
.menu_line-q {
  transition: transform calc(var(--speed) * 2);
}
.on .menu_line-q {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 699px) {
  .menu {
    display: none;
  }
}

svg {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 100%;
}
svg path {
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
svg .path-a {
  stroke: #383a42;
  stroke-dasharray: 32 300;
  transition: all calc(var(--speed) * 2);
}
.on svg .path-a {
  stroke-dasharray: 16 300;
  stroke-dashoffset: -85;
}

#footer-wrapper {
  z-index: 10;
  width: 85%;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  min-height: 50px;
  color: #383a42;
  background-color: #fcfcfc;
  grid-column-gap: 4%;
}

@media (min-width: 918px) {
  #footer-logo {
    max-height: 100px;
  }
}
@media (min-width: 1920px) {
  #footer-logo {
    max-height: 100px;
  }
}
@media (min-width: 2400px) {
  #footer-logo {
    max-height: 150px;
  }
}

#footer-contact {
  order: 1;
}
@media (min-width: 699px) {
  #footer-contact {
    order: 0;
  }
}

#footer-wrapper p, #footer-wrapper div {
  font-size: 100%;
}
@media (min-width: 699px) {
  #footer-wrapper p, #footer-wrapper div {
    font-size: 90%;
  }
}
@media (min-width: 918px) {
  #footer-wrapper p, #footer-wrapper div {
    font-size: 90%;
  }
}
@media (min-width: 1920px) {
  #footer-wrapper p, #footer-wrapper div {
    font-size: 100%;
  }
}

.footer-icon {
  width: 2.4em;
  height: 2.4em;
}

/*# sourceMappingURL=style.css.map */
