@charset "UTF-8";
/* colors */
/* Typography */
/* breakpoints */
/* Spacing */
/* add mixins here */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fcfcfc;
}

.no-scroll {
  overflow: none;
}

#wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  z-index: 1;
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  align-items: center;
  justify-content: space-around;
}

.page-padded {
  padding-top: calc((10px * 2) + 2.9rem);
}

.full-height {
  min-height: 100vh;
}

.vh-50 {
  min-height: 50vh;
}

.vh-55 {
  min-height: 55vh;
}

.vh-60 {
  min-height: 60vh;
}

.vh-65 {
  min-height: 65vh;
}

.vh-90 {
  min-height: 90vh;
}

.vh-95 {
  min-height: 95vh;
}

.col-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 13%;
}

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 13%;
}

.col-1-mdlg {
  display: grid;
}
@media (max-width: 918px) {
  .col-1-mdlg {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.col-2-mdlg {
  display: grid;
}
@media (max-width: 918px) {
  .col-2-mdlg {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.col-3-mdlg {
  display: grid;
}
@media (max-width: 918px) {
  .col-3-mdlg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.col-1-md {
  display: grid;
}
@media (max-width: 639px) {
  .col-1-md {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

.col-2-md {
  display: grid;
}
@media (max-width: 639px) {
  .col-2-md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.col-3-md {
  display: grid;
}
@media (max-width: 639px) {
  .col-3-md {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.col-1-sm {
  display: grid;
}
@media (max-width: 576px) {
  .col-1-sm {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.col-2-sm {
  display: grid;
}
@media (max-width: 576px) {
  .col-2-sm {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.col-3-sm {
  display: grid;
}
@media (max-width: 576px) {
  .col-3-sm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 13%;
  }
}

.span3 {
  grid-column: span 3;
}

.relative {
  position: relative;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-x {
  display: flex;
  flex-direction: row;
}

@media (max-width: 576px) {
  .flex-y-sm {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .flex-x-sm {
    display: flex;
    flex-direction: row;
  }
}

.space-evenly {
  display: flex;
  justify-content: space-between;
}

.center-content-x {
  display: flex;
  justify-content: center;
}

.center-content-y {
  display: flex;
  align-items: center;
}

.flex-start-content-x {
  display: flex;
  justify-content: flex-start;
}

.flex-end-content-x {
  display: flex;
  justify-content: flex-end;
}

.flex-end-content-y {
  display: flex;
  align-items: flex-end;
}

.center-content-xy {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 639px) {
  .center-content-x-md {
    display: flex;
    justify-items: center;
    justify-content: center;
  }
}

@media (max-width: 639px) {
  .center-content-y-md {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 639px) {
  .center-content-xy-md {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .center-content-x-sm {
    display: flex;
    justify-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .center-content-y-sm {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .center-content-xy-sm {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .hidden-sm {
    display: none;
  }
}

@media (max-width: 639px) {
  .hidden-md {
    display: none;
  }
}

.center-self-x {
  justify-self: center;
}

@media (max-width: 639px) {
  .center-self-x-sm {
    justify-self: center !important;
  }
}

.center-self-y {
  align-self: center;
}

.center-self-xy {
  align-self: center;
  justify-self: center;
}

.align-self-end {
  align-self: flex-end;
  justify-self: flex-end;
}

.w-25 {
  width: calc(25% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-35 {
  width: calc(35% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-50 {
  width: calc(50% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-65 {
  width: calc(65% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-70 {
  width: calc(70% - (2.5% * 2));
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.w-100 {
  width: 100%;
}

@media (max-width: 918px) {
  .w-100-mdlg {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .w-100-md {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .w-100-sm {
    width: 100%;
  }
}

.z-top {
  z-index: 10;
}

.z-mid {
  z-index: 5;
}

.z-bottom {
  z-index: 0;
}

.no-padding {
  padding: 0px;
}

.no-m {
  margin: 0px !important;
}

.no-m-t {
  margin-top: 0px;
}

.m-t-md {
  margin-top: 10px;
}

.m-t-lg {
  margin-top: 15px;
}

.m-t-xl {
  margin-top: 20px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-b-sm {
  margin-bottom: 5px;
}

.m-b-md {
  margin-bottom: 10px;
}

.m-b-lg {
  margin-bottom: 15px;
}

.m-b-xl {
  margin-bottom: 20px;
}

.m-b-xxl {
  margin-bottom: 50px;
}

.p-sm {
  padding: 5px;
}

.p-md {
  padding: 10px;
}

.p-lg {
  padding: 15px;
}

.p-xl {
  padding: 20px;
}

.p-xxl {
  padding: 50px;
}

.p-t-xxl {
  padding-top: 50px;
}

.p-b-xxl {
  padding-bottom: 50px;
}

.p-y-xxl {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-y-xxxl {
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-x-xxl {
  padding-left: 50px;
  padding-right: 50px;
}

.p-x-xxxl {
  padding-top: 80px;
  padding-bottom: 80px;
}

.no-p {
  padding: 0px !important;
}

.white-bg {
  background-color: #fcfcfc;
}

.page-transition {
  position: relative;
  z-index: 10;
  left: 0px;
  top: -1px;
  width: 100%;
  overflow: hidden;
}

.btn {
  color: #fcfcfc;
  background-color: #383a42;
  font-size: 1em;
  padding: 0.7em;
  border: 1px #383a42 solid;
  text-align: center;
}

.btn:hover {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: conic-gradient(from -62deg, #ffcf7b, #ed2f8b);
}

.bg-image {
  position: absolute;
  z-index: 0;
}

.img-circle-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  min-width: 20px;
  overflow: hidden;
}

.img-circle {
  border-radius: 50%;
}

.img-circle-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  font-size: 16px;
}

.img-full-width {
  width: 100%;
}

.tag-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tag-list li {
  color: #fcfcfc;
  background: linear-gradient(-32deg, #ffcf7b, #ed2f8b 90%);
  display: inline-block;
  margin: 0.4rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  border-radius: 3rem;
  background-color: #6b6d74;
  font-weight: 400;
}

.tag-list li:hover {
  cursor: pointer;
}

.tag-list li.active {
  opacity: 1;
}

.tag-list-active li {
  opacity: 0.6;
}

.loading {
  position: relative;
  opacity: 0.5;
}
.loading::before {
  content: "";
  position: absolute;
  display: flex;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  border-radius: 5px;
}

.loader {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #ffcf7b;
  border-right-color: #ffcf7b;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg);
}

@keyframes rotate {
  0% {
    border-width: 10px;
    border-top-color: #ffcf7b;
    border-right-color: #ffcf7b;
  }
  25% {
    border-width: 3px;
  }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
    border-top-color: #ed2f8b;
    border-right-color: #ed2f8b;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
    border-top-color: #ffcf7b;
    border-right-color: #ffcf7b;
  }
}
html {
  font-size: 11px;
}
@media (min-width: 639px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 918px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: 26px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 29px;
  }
}

body {
  font-family: "raleway", "roboto", sans-serif;
  color: #383a42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, body {
  font-weight: 200;
}

h1 {
  font-size: 3.4rem;
  font-weight: 200;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h2 {
  font-size: 2.8rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h3 {
  font-size: 2.2rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h4 {
  font-size: 1.5rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

h5 {
  font-size: 1.25rem;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

strong {
  font-weight: 430;
}

hr {
  height: 1px;
  background-color: #aeb2bf;
  border: none;
}

a {
  color: #1e83d6;
  text-decoration: none;
}

pre {
  position: relative;
  margin-top: 2.7em;
  color: #fcfcfc;
  background-color: #383a42;
  padding: 15px;
  border-image-slice: 1;
  border-width: 2px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-image-source: linear-gradient(to left, #ffcf7b, #ed2f8b);
  transform-style: preserve-3d;
}

code {
  padding: 0px !important;
  background-color: #383a42 !important;
}

.code-title {
  font-family: "raleway", "roboto", sans-serif;
  position: absolute;
  transform: translateZ(-1px);
  background-color: #383a42;
  top: -1.7em;
  right: 0px;
  padding: 0.35em 1em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}

.code-file-name {
  margin-right: 0.5em;
  font-weight: 600;
}

blockquote {
  background-color: #F2F2F2;
  color: #6b6d74;
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  border-left: 0.4em #aeb2bf solid;
}

.text-muted {
  text-decoration: none;
  color: inherit;
}

.color-white {
  color: #fcfcfc;
}

.text-right {
  text-align: right;
}

.fa-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1.7em;
  background-color: #383a42;
  color: #fcfcfc;
  padding: 0.7em 0.7em;
  text-align: center;
  margin-right: 6px;
}

.text-center {
  text-align: center;
}

@media (max-width: 639px) {
  .text-center-sm {
    text-align: center;
  }
}

.large-error {
  font-size: 11rem;
  margin-bottom: 20px;
  margin-top: 0px;
}

form {
  transition: opacity 500ms ease-out;
}

textarea {
  position: relative;
  resize: vertical;
  font-family: inherit;
  font-weight: inherit;
  color: #383a42;
  min-height: 2.6em;
  max-height: 250px;
}

input {
  font-family: inherit;
  font-weight: inherit;
  color: #383a42;
}

select {
  font-family: inherit;
  font-weight: inherit;
  color: #383a42;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 1.4rem;
}

.input-field {
  position: relative;
  width: 100%;
  padding: 0.8em;
  padding-left: 1em;
  font-size: 1em;
  margin: 0px;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.4rem 0px 0px 1.4rem;
  border: 0px;
}

.select-field {
  border-radius: 1.4rem;
  background-repeat: no-repeat;
  background-size: auto calc(100% - 2px);
  background-position: calc(100% - 2px) 1px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.button-muted {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: inherit;
}

.fa-input-icon {
  position: relative;
  color: #fcfcfc;
  background-image: radial-gradient(100% 100% at 100% 100%, #ffcf7b, #ed2f8b);
  font-size: 1em;
  width: 1.2em;
  height: 1em;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0.8em;
  border-radius: 50%;
  text-align: center;
  transition: padding 100ms ease-out, font-size 100ms ease-out;
}

.form-alert {
  width: 100%;
}

.form-success {
  color: #7ed321;
  text-align: center;
  vertical-align: middle;
}
.form-success::before {
  font-family: "Font Awesome 5 Free";
  color: inherit;
  font-weight: 900;
  vertical-align: middle;
  content: " ";
}

.form-info {
  color: #1e83d6;
  text-align: center;
  vertical-align: middle;
}
.form-info::before {
  font-family: "Font Awesome 5 Free";
  color: inherit;
  font-weight: 900;
  vertical-align: middle;
  content: " ";
}

.form-warn {
  color: #d6d31e;
  text-align: center;
  vertical-align: middle;
}
.form-warn::before {
  font-family: "Font Awesome 5 Free";
  color: inherit;
  font-weight: 900;
  vertical-align: middle;
  content: " ";
}

.form-error {
  color: #ff3466;
  text-align: center;
  vertical-align: middle;
}
.form-error::before {
  font-family: "Font Awesome 5 Free";
  color: inherit;
  font-weight: 900;
  vertical-align: middle;
  content: " ";
}

.form-submit {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 0px;
  border-radius: 1.6rem;
  background-image: radial-gradient(100% 100% at 100% 100%, #ffcf7b, #ed2f8b);
  color: #fcfcfc;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.form-submit:hover {
  background-image: radial-gradient(110% 110% at 100% 100%, #ffcf7b, #ed2f8b);
}

:root {
  --speed: .3s;
  --cubic-buzier: cubic-bezier(.32,.13,.2,1.00);
}

#home-content {
  background-image: radial-gradient(100vw 100vw at 100vw 100vh, #ffcf7b, #ed2f8b);
}

#section-1 {
  position: relative;
  grid-template-rows: 35% 1fr;
}
@media (min-width: 639px) {
  #section-1 {
    grid-template-rows: auto;
  }
}

#landing-bg-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 38%;
}
@media (min-width: 639px) {
  #landing-bg-container {
    width: 50%;
    height: 100%;
  }
}

#landing-bg-container .bg-image {
  height: 100%;
  top: 100%;
  min-width: 200%;
  transform: translateX(-16%) translateY(-100%);
}

#landing-logo-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  height: 50%;
  width: auto;
}
@media (min-width: 639px) {
  #landing-logo-container {
    height: auto;
    align-self: center;
  }
}

#landing-logo {
  position: relative;
  z-index: 1;
  width: 63%;
}

#landing-text-wrapper {
  position: relative;
  z-index: 5;
  color: white;
  align-self: flex-start;
  grid-row: 2/2;
  text-align: left;
  padding: 20px 0px;
}
@media (min-width: 639px) {
  #landing-text-wrapper {
    text-align: left;
    align-self: center;
    grid-row: 1/1;
  }
}

#landing-text-wrapper h1 {
  margin-bottom: 0px;
}

.call-to-action {
  display: inline-block;
  padding: 0.8rem 2rem;
  margin-top: 10px;
  border-radius: 1.6rem;
  background-color: #383a42;
  font-weight: 400;
  cursor: pointer;
}

#section-2 {
  position: relative;
}

#section-2 .bg-image {
  top: 0px;
  left: 107%;
  height: 100%;
  transform: translateX(-100%);
  filter: drop-shadow(10px 2px 10px rgba(0, 0, 0, 0.35));
}
@media (min-width: 639px) {
  #section-2 .bg-image {
    left: 60%;
  }
}
@media (min-width: 1920px) {
  #section-2 .bg-image {
    left: 53.5%;
  }
}

#section-2 .watermark-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.blob-text-left {
  padding: 0px 10px 10px 0px;
}

#funnel-img-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  padding-top: 15px;
  overflow: hidden;
}

#funnel-img {
  bottom: 0px;
  height: 55vh;
  max-height: 200px;
  min-width: 100vw;
  object-fit: cover;
  filter: drop-shadow(10px 2px 10px rgba(0, 0, 0, 0.35));
}
@media (min-width: 918px) {
  #funnel-img {
    max-height: 9999px;
  }
}

#you-section-pre {
  color: #fcfcfc;
}

#you-section {
  position: relative;
  background-color: #fcfcfc;
  top: -2px;
}

#you-title {
  margin-top: 2.5rem;
  margin-bottom: 0px;
}

#person-img {
  height: 45vh;
  padding: 2.5rem 0px;
}

#projects-section {
  position: relative;
  top: -2px;
  background-color: #fcfcfc;
}

#projects-title {
  height: 10%;
}

.project-cards {
  padding: 0px 0px 50px 0px;
}

.project-card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  height: 80vh;
  width: 100%;
  margin: 3.5rem 0px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.3);
}
@media (min-width: 639px) {
  .project-card {
    height: 50vh;
    width: 66.6vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.project-card-text {
  padding: 7%;
  height: 86%;
}

.project-card-link {
  display: inline-block;
  padding: 0.8rem 2rem;
  margin-top: 10px;
  border-radius: 1.6rem;
  color: #fcfcfc;
  background-image: radial-gradient(100% 75% at 100% 100%, #ffcf7b, #ed2f8b);
  font-weight: 400;
}

.project-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(100% 100% at 100% 100%, #ffcf7b, #ed2f8b);
  overflow: hidden;
}

.project-card-img img {
  max-width: 100%;
  max-height: 100%;
}

#contact-section {
  position: relative;
  top: -3px;
  background-image: linear-gradient(to bottom, #fcfcfc, #F2F2F2);
}

.contact-form {
  z-index: 5;
  padding: 4rem 0px;
}

#contact-bg-container {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#contact-bg-container .bg-image {
  height: 100%;
  top: 44%;
  min-width: 100%;
  left: 0%;
  transform: translateX(-90%) translateY(-38%);
}
@media (min-width: 639px) {
  #contact-bg-container .bg-image {
    left: 40%;
    transform: translateX(-84%) translateY(-38%);
  }
}

#blog-list-wrapper {
  background-color: #1d1e21;
}

.blog-list-header-container {
  background-size: 66% auto;
  background-position: 100% 25%;
  background-repeat: no-repeat;
}

#blog-list-content-wrapper {
  position: relative;
  z-index: 5;
}

#blog-list-header-wave {
  display: block;
  transform: rotate(180deg);
}

#blog-card-list {
  position: relative;
  top: 0px;
}

.blog-list {
  grid-column-gap: 7.5%;
  transition: opacity 500ms ease-out;
}

@media (max-width: 639px) {
  #blog-search {
    order: -1;
  }
}

@media (max-width: 639px) {
  #blog-search .tag-list-title {
    text-align: center;
  }
}

@media (max-width: 639px) {
  #blog-search .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.blog-card-highlight {
  position: relative;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  min-height: 8rem;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.25);
}

.blog-card {
  position: relative;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  margin-bottom: 8%;
  min-height: 8rem;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.25);
}

.blog-card:hover .blog-card-img-overlay {
  background: rgba(0, 0, 0, 0);
}

.blog-card-img-container {
  position: absolute;
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  top: -1.2rem;
  left: -1.2rem;
  background-image: linear-gradient(to bottom left, #ffcf7b, #ed2f8b);
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.25);
}

.blog-card-img {
  position: absolute;
  object-fit: cover;
  height: 50px;
  min-width: 100%;
  min-height: 100%;
}

.blog-card-img-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  transition: background 250ms ease-out;
}

.blog-card-text-container {
  width: 94%;
  padding: 3%;
}

.blog-card-header-container {
  width: calc(100% - 6.8rem);
  margin-left: 6.8rem;
  min-height: 6.8rem;
}

.blog-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.3em;
  color: #9498a5;
  border-image-slice: 1;
  border-right: 3px solid;
  border-image-source: linear-gradient(to top, #ffcf7b, #ed2f8b);
}

.blog-card-title h4 {
  margin: 0px;
  font-weight: 500;
  margin-block-start: 3%;
  margin-block-end: 3%;
}

.blog-header {
  grid-column-gap: 3.4rem;
}

.blog-author-img-container {
  width: 6rem;
}

.blog-details-container {
  padding-left: 0px;
}
@media (max-width: 639px) {
  .blog-details-container {
    order: 1;
  }
}

.blog-details {
  padding-left: 1rem;
}

.blog-details div {
  padding: 0.3rem;
}

.tag-list-container {
  padding-top: 0.3rem;
}

.blog-banner {
  position: relative;
}

.blog-banner-img {
  min-height: 200px;
  position: relative;
  background-image: linear-gradient(to bottom right, #ed2f8b, #ffcf7b);
}

.blog-banner-img .img-full-width {
  opacity: 0.6;
}

.blog-banner-frame {
  position: absolute;
  z-index: 2;
  left: 0px;
}

.blog-banner-frame-bottom {
  position: absolute;
  left: 0px;
  bottom: -1px;
  transform: rotate(180deg);
}

.blog-content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  background-color: #fcfcfc;
  word-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-content a:hover {
  text-decoration: underline;
}

.blog-content p {
  line-height: 1.7rem;
}

.blog-content h2 {
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}

.blog-content ul {
  list-style-image: url("../img/ul-arrow.svg");
  list-style-type: circle;
}

.blog-content ul > li {
  margin-top: 1.8rem;
  padding-left: 1.6rem;
}

.blog-content ol {
  counter-reset: inst;
}

.blog-content ol > li {
  position: relative;
  margin-top: 1.8rem;
  padding-left: 1rem;
  clear: both;
  list-style: none;
  counter-increment: inst;
}

.blog-content > ol > li {
  margin-top: 5rem;
}

.blog-content ol > li::before {
  content: counter(inst);
  position: absolute;
  background-image: linear-gradient(to bottom right, #ed2f8b, #ffcf7b);
  color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  top: -0.3em;
  left: -2.6rem;
  padding: 0.6rem 0.6rem;
  border-radius: 50%;
  font-size: 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.blog-content img {
  width: 100%;
  margin-top: 2.5%;
}

.blog-content img + em {
  width: 95%;
  margin: 2.5%;
  margin-top: 0px;
}

#page2 {
  top: -1px;
  color: white;
  background-color: #ffcf7b;
  background-size: auto 100%;
  background-position: 50% 0%;
}

#capabilities-logos {
  grid-row: 2/2;
  display: grid;
  align-self: flex-start;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 639px) {
  #capabilities-logos {
    grid-column: 1/1;
    grid-row: 1/1;
    align-self: center;
  }
}

.capability {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capability-logo-container {
  padding: 17%;
  clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
  transition: clip-path ease-in-out 750ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-logo-container {
  clip-path: polygon(0% 100%, 0% -200%, 0% -200%);
}

.capability-text {
  display: flex;
  position: absolute;
  z-index: 49;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  font-size: 1.7rem;
  line-height: 175%;
  color: #383a42;
  align-items: center;
  justify-content: center;
  text-align: center;
  clip-path: polygon(0% 100%, 200% 100%, 200% 100%);
  transition: clip-path ease-in-out 750ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.capability:hover .capability-text {
  clip-path: polygon(0% 100%, 200% 100%, 0% -200%);
  height: 100%;
}

.capability-logo {
  width: 100%;
}

#capabilities-content {
  grid-row: 1/1;
}
@media (min-width: 639px) {
  #capabilities-content {
    grid-column: 2/2;
    grid-row: 1/1;
    align-self: center;
  }
}

#drip-transition-vector {
  width: 100%;
  height: auto;
}

#page3 {
  top: -2px;
  color: #383a42;
  background-color: #fcfcfc;
  width: calc(100% - 7.5%);
  padding-right: 0px;
  background-size: auto 100%;
  background-position: 55% 0%;
  grid-gap: 0px;
  background-repeat: no-repeat;
}
@media (min-width: 639px) {
  #page3 {
    background-position: 50% 0%;
  }
}
@media (min-width: 918px) {
  #page3 {
    background-position: 50% 0%;
  }
}
@media (min-width: 1920px) {
  #page3 {
    background-position: 50% 0%;
  }
}

#project-images-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%;
}

.project-img {
  width: 70%;
}

#project-text-container {
  position: relative;
  height: 100%;
  text-align: right;
  padding-right: 7.5%;
}

.project-text {
  position: absolute;
  top: 50%;
  width: calc(100% - (7.5% * 3));
  right: 7.5%;
  transform: translateY(-50%);
  opacity: 0;
}
@media (min-width: 639px) {
  .project-text {
    width: calc(100% - (7.5% * 3));
    right: calc(7.5% * 3);
  }
}

.project-text-active {
  opacity: 1;
  transition: opacity 1500ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
  transition-delay: 500ms;
}

.project-text-out {
  opacity: 0;
  transition: opacity 1500ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.project-image {
  position: absolute;
  top: 50%;
  transform: rotate(95deg) translateY(-50%);
  transform-origin: 135% 50%;
}

.project-image-active {
  transform: rotate(0deg) translateY(-50%);
  transition: transform 1550ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

.project-image-out {
  transform: rotate(-90deg) translateY(-50%);
  transition: transform 1550ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}

#project-gears {
  position: absolute;
  top: 15%;
  height: 70%;
  left: calc(100% - 65px);
  transition: transform 1550ms;
  transition-timing-function: cubic-bezier(var(--cubic-buzier));
}
@media (min-width: 639px) {
  #project-gears {
    top: 20%;
    height: 60%;
    left: calc(100% - 90px);
  }
}

#page4 {
  top: -3px;
  color: #383a42;
  background-color: #fcfcfc;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-size: auto 100%;
  background-position: 55% 0%;
  height: 100%;
}
@media (min-width: 639px) {
  #page4 {
    grid-column-gap: 13%;
    background-position: 50% 0%;
  }
}
@media (min-width: 918px) {
  #page4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13%;
    background-position: 50% 0%;
  }
}
@media (min-width: 1920px) {
  #page4 {
    background-position: 50% 0%;
  }
}

:root {
  --speed: .3s;
  --cubic-buzier: cubic-bezier(.32,.13,.2,1.00);
}

#header-wrapper {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 50;
  width: calc(100% - (7.5% * 2));
  height: 2.9rem;
  padding: 10px 7.5%;
  color: #383a42;
}

.header-wrapper-logo-active .header-logo {
  opacity: 1;
}

.header-wrapper-bg-active .header-bg {
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  opacity: 1;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.header-wrapper-nav-open .header-logo {
  opacity: 1;
}

.header-wrapper-nav-open .header-bg {
  opacity: 0;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.header-item {
  height: 2.9rem;
}

#header-logo-wrapper {
  position: relative;
}

.header-logo {
  position: relative;
  z-index: 50;
  height: 100%;
  transition: all 0.4s ease-in;
  transition-delay: 0.3s;
  opacity: 0;
}

.header-logo-blob {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transform: scale(2) translateX(-10%);
}

#header-menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-wrapper {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-between;
  clip-path: circle(0px at 95% -8%);
  transition: clip-path ease-in-out 300ms;
  transition-timing-function: var(--cubic-buzier);
}
@media (min-width: 639px) {
  .nav-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0px;
    top: 0px;
    background-image: none;
    clip-path: none;
  }
}
.nav-wrapper-open {
  clip-path: circle(125% at 95% -8%);
}

#site-nav {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 50px;
}
@media (min-width: 639px) {
  #site-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    flex-direction: row;
    align-items: center;
  }
}

.nav-item {
  position: relative;
  z-index: 50;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 5%;
  padding-left: 12%;
}
@media (min-width: 639px) {
  .nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px;
    font-size: 1.25rem;
  }
}

#mobile-nav-bg {
  position: fixed;
  z-index: 49;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
}
@media (min-width: 639px) {
  #mobile-nav-bg {
    display: none;
  }
}

#mobile-nav-cookie {
  position: absolute;
  width: 150%;
  top: -100px;
  right: -265px;
  transform: rotate(-70deg);
}

@media (min-width: 639px) {
  .nav-toggle {
    display: none;
  }
}

.hamburger {
  width: 100%;
  width: calc(100% - (10px * 2));
  padding: 10px;
  z-index: 51;
}

.nav-toggle {
  position: relative;
  width: 2rem;
  height: 2rem;
  z-index: 52;
  cursor: pointer;
  transition: all 0.25s;
}
.nav-toggle:nth-child(1) .nav-toggle_line {
  background-color: #383a42;
}
.nav-toggle_line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  border-radius: 2.5px;
  background-color: #383a42;
}
.nav-toggle_line-q {
  transition: all calc(.3s * 2);
}
.on .nav-toggle_line-q {
  transform: translate(0%, -50%) rotate(-45deg);
}

svg {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: visible;
  height: 100%;
  width: 100%;
}
svg path {
  fill: none;
  stroke: #383a42;
  stroke-width: 15px;
  stroke-linejoin: bevel;
  stroke-linecap: round;
  stroke-linejoin: round;
}
svg .path-a {
  stroke: #383a42;
  stroke-dasharray: 100 500;
  transition: all calc(.3s * 2);
}
.on svg .path-a {
  stroke-dasharray: 23 500;
  stroke-dashoffset: -280;
}

#footer-wrapper {
  z-index: 10;
  width: 85%;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  min-height: 2.9rem;
  color: #383a42;
  background-color: #fcfcfc;
  grid-column-gap: 4%;
}

@media (min-width: 918px) {
  #footer-logo {
    max-height: 100px;
  }
}
@media (min-width: 1920px) {
  #footer-logo {
    max-height: 100px;
  }
}
@media (min-width: 2400px) {
  #footer-logo {
    max-height: 150px;
  }
}

#footer-contact {
  order: 1;
}
@media (min-width: 576px) {
  #footer-contact {
    order: 0;
  }
}

#footer-wrapper p, #footer-wrapper div {
  font-size: 100%;
}
@media (min-width: 639px) {
  #footer-wrapper p, #footer-wrapper div {
    font-size: 90%;
  }
}
@media (min-width: 918px) {
  #footer-wrapper p, #footer-wrapper div {
    font-size: 90%;
  }
}
@media (min-width: 1920px) {
  #footer-wrapper p, #footer-wrapper div {
    font-size: 100%;
  }
}

.footer-icon {
  width: 2.4em;
  height: 2.4em;
}

#subscribe-submit {
  border-radius: 0px 1em 1em 0px;
}

/*# sourceMappingURL=style.css.map */
