{% load static %}
<!DOCTYPE html>
<html>
    <head>

        {% block scripts %}
            <!-- FAVICON -->
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
            <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">

            <!-- CUSTOM FONTS -->
            <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
            <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700&display=swap"></noscript>
            <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
            <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&display=swap"></noscript>

            <!-- FONT AWESOME ICONS -->
            <script defer src="https://kit.fontawesome.com/0a28a489f1.js" crossorigin="anonymous"></script>

            <!-- CUSTOM STYLES -->
            <link href="{% static 'styles/style.css' %}"  type="text/css" rel="stylesheet"/>

            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- CUSTOM JS -->
            <script src="{% static 'js/byite.js' %}"></script>
        {% endblock scripts %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="wrapper">

            <!-- START HEADER -->
            <div id="header-wrapper" class="{% if request.path == '/home/' or request.path == '/' or request.path == '/admin/login/' %}{% else %}header-wrapper-bg-active header-wrapper-logo-active{% endif %}">
                <div class="header-item" id="header-logo-wrapper">
                    <a href="{% url 'home' %}">
                        <img class="header-logo" src="{% static 'img/byite-logo-color.svg' %}"/>
                    </a>
                </div>
                <div class="header-item" id="header-menu-wrapper">
                    <div class="nav-wrapper">
                        <nav id="site-nav">
                            <a class="nav-item text-muted" href="{% url 'home' %}#projects-section">Projects</a>
                            <a class="nav-item text-muted" href="{% url 'blog-list' %}">Blog</a>
                            <a class="nav-item nav-item-last text-muted" href="{% url 'home' %}#contact-section">Contact</a>
                        </nav>
                        <div id="mobile-nav-bg">
                            <img id="mobile-nav-cookie" src="{% static 'img/cookie-watermark-left.png' %}"/>
                        </div>
                    </div>
                    <div class="nav-toggle" id="hamburger">
                        <div class="nav-toggle_line nav-toggle_line-q"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-5 -5 110 110">
                            <path class="path-a" d="M 0 0 h 100 a 14 14 0 0 1 0 100 l -100 -100" />
                            <path class="path-a" d="M 100 100 h -100 a 14 14 0 0 1 0 -100 l 100 100" />
                        </svg>
                    </div>
                </div>
                <div class="header-bg"></div>
            </div>
            <!-- END HEADER -->

            <!--START CONTENT -->
            <div id="page-wrapper">

                {% block content %}
                {% endblock %}

            </div>
            <!-- END CONTENT -->

            <!-- START FOOTER -->
            <div class="col-3 col-1-sm" id="footer-wrapper">
                <div class="center-content-xy-sm m-t-md m-b-xl">
                    <div>
                        <img class="w-50" id="footer-logo" src="{% static 'img/byite-logo-color.svg' %}"/>
                    </div>
                    <div class="w-50 space-evenly m-t-lg">
                        <a class="center-self-x footer-icon" href="https://github.com/scott-j5"><img src="{% static 'img/github-logo.svg' %}"/></a>
                        <a class="center-self-x footer-icon" href="https://www.linkedin.com/in/scottjames5"><img src="{% static 'img/linkedin-logo.svg' %}"/></a>
                        <a class="center-self-x footer-icon" href="https://www.youtube.com/channel/UC84gV5HcQWphJ7lD7X0bXlA"><img src="{% static 'img/youtube-logo.svg' %}"/></a>
                    </div>
                </div>
                <div class="m-t-md m-b-xl" id="footer-contact">
                    <h4 class="no-m-t">
                        <strong>Contact</strong>
                    </h4>
                    <p>
                        <i class="fa fa-envelope-o fa-circle"></i> scottjames@byitegroup.com
                    </p>
                    <p>
                        <i class="fa fa-mobile fa-circle"></i> +1 802 582 0170
                    </p>
                    <p>
                        <i class="fa fa-map-marker fa-circle"></i> Vancouver, BC
                    </p>
                </div>
                <div class="m-t-md m-b-xl">
                    <h4 class="no-m-t">
                        <strong>Subscribe</strong>
                    </h4>
                    <p>
                        Sign up if you would like to be notified about new blog posts or other events.
                    </p>
                    <form id="footer-subscribe" action="{% url 'subscribe' %}" method="POST">
                        <div class="input-container">
                            {% csrf_token %}
                            <input class="input-field" type="text" placeholder="Email" name="email"/>
                            <button class="button-muted" id="subscribe-submit" type="submit" name="submit" />
                                <i class="fa fa-paper-plane-o fa-input-icon fa-input-icon-hover center-self-y"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END FOOTER -->

        </div>
    </body>
</html>