{% extends "app/base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <!-- HOME JS -->
    <script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}


{% block content %}
<!-- START SECTION 1 -->
<div class="page vh-95 col-2 col-1-md" id="section-1">
    <div id="landing-logo-container">
        <img id="landing-logo" src="{% static 'img/byite-logo-color.svg' %}"/>
    </div>
    <div id="landing-text-wrapper">
        <div>
            <h1>Take a byite out of something new.</h1>
        </div>
        <div>
            <h5>Full-stack web development, cloud management and more! We leverage the technology that you don't care about, to achieve the results that you do!</h5>
        </div>
        <div>
            <div class="call-to-action">Contact Us!</div>
        </div>
    </div>
    <div id="landing-bg-container">
        <img class="bg-image" src="{% static 'img/landing-blob.svg' %}"/>
    </div>
</div>
<!-- END SECTION 1 -->

<!-- START SECTION 2 -->
<div class="page vh-95 flex-start-content-x center-content-y" id="section-2">
    <div class="relative z-mid w-50 w-100-sm blob-text-left">
        <h1 class="no-m-t">Technologies</h1>
        <h4>We specialise in technology. It is our goal to come up with the most creative solutions to your problems, no matter the technical approach!</h4>
    </div>
    <img class="bg-image" src="{% static 'img/content-blob.svg' %}"/>
    <img class="watermark-image" src="{% static 'img/watermarks.svg' %}"/>
</div>
<!-- END SECTION 2 -->

<div class="page vh-55 center-content-y" id="section-3-pre">
    <div class="p-xxl text-center">
        <h1>Our Mission</h1>
        <h4>
            We're not here to provide cookie cutter solutions.
            If you're serious about growth
            It comes down to...
        </h4>
    </div>
</div>

<div id="funnel-img-container">
    <img id="funnel-img" src="{% static 'img/funnel.svg' %}"/>
</div>

<!-- START SECTION 3 -->
<div class="page" id="section-3">
    <div class="full-width flex-y center-content-y">
        <h2>You</h2>
        <img id="person-img" src="{% static 'img/person.svg' %}"/>
    </div>
    <div class="text-center p-b-xxl">
        <h4>
            You don't operate an average business, and we're not here to provide average, 
            cookie cutter solutions. If you are serious about growing your business.
            our mission refelects that, unique solutions for unique businesses
              We specialise in technology. It is our goal to come up with the most creative solutions to your problems, no matter the technical approach!
        </h4>
    </div>
</div>
<!-- END SECTION 3 -->


<!-- START SECTION 4 -->
<div class="page full-height" id="section-4">
    <div class="full-width text-center p-t-xxl" id="projects-title">
        <h1 class="no-m">Recent Work</h1>
    </div>
    <div class="project-cards">
        {% for project in projects %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="project-card">
                    <div class="project-card-text">
                        <h2 class="no-m">{{ project.client }}</h2>
                        <h4 class="no-m"><small>{{ project.title }}</small></h4>
                        <p>
                            {{ project.description }}
                        </p>
                        <a href=""><div class="project-card-link">Learn more</div></a>
                    </div>
                    <div class="project-card-img">
                        {% if project.image %}{% if project.image.url is not null %}<img src="{{ project.image.url }}" />{% endif %}{% endif %}
                    </div>
                </div>
            {% else %}
                <div class="project-card">
                    <div class="project-card-img">
                        {% if project.image %}{% if project.image.url is not null %}<img src="{{ project.image.url }}" />{% endif %}{% endif %}
                    </div>
                    <div class="project-card-text">
                        <h2 class="no-m">{{ project.client }}</h2>
                        <h4 class="no-m"><small>{{ project.title }}</small></h4>
                        <p>
                            {{ project.description }}
                        </p>
                        <a href=""><div class="project-card-link">Learn more</div></a>
                    </div>
                </div>
            {% endif %}
            

            {% if forloop.last %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="project-card">
                        <div class="project-card-img">
                            <img src="{% static 'img/byite-logo-color.svg' %}" />
                        </div>
                        <div class="project-card-text">
                            <h2 class="no-m">Could be you?</h2>
                            <p>
                                Something about contact us
                            </p>
                            <a href=""><div class="project-card-link">Contact Us</div></a>
                        </div>
                    </div>
                {% else %}
                    <div class="project-card">
                        <div class="project-card-text">
                            <h2 class="no-m">Could be you?</h2>
                            <p>
                                Something about contact us
                            </p>
                            <a href=""><div class="project-card-link">Contact Us</div></a>
                        </div>
                        <div class="project-card-img">
                            <img src="{% static 'img/byite-logo-color.svg' %}" />
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- END SECTION 4 -->


<!-- SECTION 5 -->
<div class="page col-2 col-1-sm full-height" id="contact-section">
    <div class="contact-form-graphic center-content-x center-content-y hidden-sm">
        <img src="{% static 'img/contact-person.svg' %}"/>
    </div>
    <div class="contact-form">
        <form id="contact-us-form" action="{% url 'contact-us' %}" method="POST">
            {% csrf_token %}
            <h1>Contact us</h1>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Name" name="name"/>
                <i class="fa fa-user-o fa-input-icon"></i>
            </div>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Email" name="email"/>
                <i class="fa fa-envelope-o fa-input-icon"></i>
            </div>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Phone" name="phone"/>
                <i class="fa fa-mobile fa-input-icon"></i>
            </div>
            <div class="input-container">
                <textarea class="input-field" placeholder="Message" name="message" rows="5"></textarea>
                <!--<input class="input-field" type="text" placeholder="Message" name="message"/>-->
                <i class="fa fa-comments-o fa-input-icon center-self-y"></i>
            </div>
            <div class="input-container">
                <input class="form-submit w-100" type="submit" title="Submit" name="contact-submit"/>
            </div>
        </form>
    </div>
</div>
<!-- END SECTION 5 -->

{% endblock content %}