{% extends "app/base.html" %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <!-- HOME JS -->
    <script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}

{% block content %}
<!-- START PAGE 1 -->
<div class="page full-height col-2 col-1-sm" id="page1" style="background-image: url({% static 'img/wave.svg' %})">
    <div id="landing-text-wrapper">
        <div>
            <h1>Take a byite out of something new.</h1>
        </div>
        <div>
            <h4>From web development to data analysis and more! We leverage the latest technology to help your business stand out and perform.</h4>
        </div>
    </div>
    <div id="landing-logo-container">
        <img id="landing-logo" src="{% static 'img/byite-logo-color.svg' %}"/>
    </div>
</div>
<!-- END PAGE 1 -->

<!-- START PAGE 2 -->
<div class="page full-height col-2 col-1-sm" id=page2 style="background-image: url({% static 'img/watermarks.svg' %})">
    <div id="capabilities-logos">
        <div class="capability">
            <div class="capability-text"><strong>AWS cloud</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/aws-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Python</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/python-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Django framework</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/django_logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Postgres Databases</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/postgres-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Vue.js</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/vuejs-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Javascript</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/js-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>SQL server and BI stack</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/sql-server-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Adobe cc</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/cc-logo.svg' %}"/></div>
        </div>
        <div class="capability">
            <div class="capability-text"><strong>Ubuntu servers</strong></div>
            <div class="capability-logo-container"><img class="capability-logo" src="{% static 'img/ubuntu-logo.svg' %}"/></div>
        </div>
    </div>
    <div id="capabilities-content">
        <h1>Technologies</h1>
        <h4>We specialise in technology. It is our goal to come up with the most creative solutions to your problems, no matter the technical approach!</h4>
    </div>
</div>
<!-- END PAGE 2 -->

<!-- START PAGE 3 -->
<div class="page col-2 col-1-sm full-height" id="page3" style="background-image: url({% static 'img/projects1.svg' %})">
    <div id="project-text-container">
        <h1 id="projects-title">Our work</h1>
        {% for project in projects %}
            <div class="project-text" id="project-{{ forloop.counter0 }}-text">
                <h4 class="no-m-t">{{ project.client }}</h4>
                {{ project.description }}
            </div>
            {% if forloop.last %}
                <div class="project-text" id="project-{{ forloop.counter }}-text">
                    <h4 class="no-m-t">Want to know more?</h4>
                    Contact us <a href="{% url 'home' %}#page4"><u>here</u></a> to see how we can help you!
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="project-images-container">
        {% for project in projects %}
            <div class="project-image" id="project-{{ forloop.counter0 }}-image">
                <img class="project-img" src="{{ project.image.url }}"/>
            </div>
        {% if forloop.last %}
            <div class="project-image" id="project-{{ forloop.counter }}-image">
                <img class="project-img" src="{% static 'img/byite-logo-color.svg' %}"/>
            </div>
        {% endif %}
    {% endfor %}
        <div>
            <img id="project-gears" src="{% static 'img/gear-1.svg' %}"/>
        </div>
    </div>
</div>
<!-- END PAGE 3 -->

<!-- START PAGE 4 -->
<div class="page col-2 col-1-sm full-height" id="page4" style="background-image: url({% static 'img/contact-us.svg' %})">
    <div class="hidden-md">
        
    </div>
    <div class="w-70 w-100-sm center-self-x">
        <form id="contact-us-form" action="{% url 'contact-us' %}" method="POST">
            {% csrf_token %}
            <h1>Contact us</h1>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Name" name="name"/>
                <i class="fa fa-user-o fa-input-icon"></i>
            </div>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Email" name="email"/>
                <i class="fa fa-envelope-o fa-input-icon"></i>
            </div>
            <div class="input-container">
                <input class="input-field" type="text" placeholder="Phone" name="phone"/>
                <i class="fa fa-mobile fa-input-icon"></i>
            </div>
            <div class="input-container">
                <textarea class="input-field" placeholder="Message" name="message" rows="5"></textarea>
                <!--<input class="input-field" type="text" placeholder="Message" name="message"/>-->
                <i class="fa fa-comments-o fa-input-icon center-self-y"></i>
            </div>
            <div class="input-container">
                <input class="btn w-100" type="submit" title="Submit" name="contact-submit"/>
            </div>
        </form>
    </div>
</div>
<!-- END PAGE 4 -->
{% endblock content %}